<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
  <head>
    {{ partial "head.html" . }} {{ block "head" . }}{{ end }}
    <title>{{ .Title }}</title>
  </head>
  <body class="font-soberana-sans">
    {{ partial "nav.html" . }}
    <main class="bg-color-bg">{{ block "main" . }}{{ end }}</main>
    {{ partial "footer.html" . }} {{ $default := resources.Get "js/default.js" |
    js.Build (dict "minify" true)}}
    <script src="{{ $default.Permalink }}"></script>
    {{ block "js" . }}{{ end }}
  </body>
</html>
