{{ define "main" }}
<div
  class="
    relative
    bg-biblioteca-recursos-bg
    h-screen
    bg-cover bg-center
    text-center
    py-16
    lg:py-0
  "
>
  <div class="container">
    <div class="lg:absolute lg:inset-y-1/4 text-color-white">
      <h1
        class="
          uppercase
          text-center
          font-bold
          mb-4
          md:mb-6
          lg:text-left
          text-3xl
          md:text-4xl
          lg:text-5xl
          xl:text-6xl xl:mb-8
        "
      >
        Biblioteca de recursos
      </h1>
      <p class="font-light lg:w-7/12 text-left">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat.
      </p>
    </div>
  </div>
</div>
{{ end }}
