{{ define "main" }}
{{ $data := .Site.Data.biblioteca }}
{{ $years := slice }}
{{ $lines := slice }}

<!-- Get years and lines -->
{{ range $data }}
  {{ $isYear := findRE "[0-9]{4}" .ano }}
  {{ if eq (len $isYear) 1 }}
    {{ $years = $years | append (int .ano) }}
  {{ end }}
  {{ $lines = $lines | append .linea }}
{{ end }}

<div class="relative bg-biblioteca-recursos-bg h-screen bg-cover bg-center">
  <div class="container">
    <div class="lg:pt-56">
      <h1 class="text-white lg:text-6xl uppercase font-black lg:mb-3">
        Biblioteca de recursos
      </h1>
      <p class="font-light lg:w-7/12 text-white">
        Descarga las publicaciones relacionadas con las iniciativas de capacitación e investigación que ha realizado el
        CEDAE desde el 2013 hasta la actualidad. Selecciona el año de referencia y la línea temática correspondiente a
        la publicación que deseas consultar.
      </p>
    </div>
  </div>
  <img class="hidden lg:block lg:absolute lg:-bottom-6 object-cover w-full" src="/images/curva-arriba-abajo.svg"
    alt="" />
</div>
<section class="lg:pt-12 lg:pb-20 bg-white">
  <div class="grid grid-cols-1 lg:grid-cols-12">
    <div class="lg:col-start-2 lg:col-end-4" id="filters">
      <h4 class="text-primary-color-dark uppercase font-bold lg:text-xl lg:mb-3">
        Filtros
      </h4>
      <!-- Date -->
      <div class="mb-4">
        <h5 class="bg-primary-color-dark text-color-white py-2 px-6">
          Fecha de publicación
        </h5>
        <div class="py-4 px-2 date-container">
          {{ range sort (uniq $years) "value" "desc" }}
            <label class="filter-label" for="filter-{{ . }}">
              <span>{{ . }}</span>
              <input type="checkbox" id="filter-{{ . }}" name="ano" value="{{ . }}" />
              <span class="checkmark"></span>
            </label>
          {{ end }}
        </div>
      </div>
      <!-- Line -->
      <div class="mb-4">
        <h5 class="bg-primary-color-dark text-color-white py-2 px-6">Línea</h5>
        <div class="py-4 px-2 line-container">
          {{ range (uniq $lines) }}
            <label class="filter-label">
              <span class="capitalize">{{ . | lower }}</span>
              <input type="checkbox" name="linea" value="{{ . }}" />
              <span class="checkmark"></span>
            </label>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="lg:col-start-5 lg:col-end-12 relative">
      <div class="lg:flex lg:flex-col lg:items-end">
        <div class="mb-12">
          <h5 class="bg-primary-color-dark text-color-white py-2 px-6" id="paginationScroll">
            Fecha de publicación
          </h5>
        </div>
      </div>
      <div class="library-container">
      </div>
      <div class="pagination text-center">
        <!-- <button class="pagination__button pagination__button--left bg-primary-color text-white py-2 px-4 mr-4">&leftarrow; Página <span>1</span></button>
        <button class="pagination__button pagination__button--right bg-primary-color text-white py-2 px-4">Página <span>3</span> &rightarrow;</button> -->
      </div>
    </div>
  </div>
</section>
<input type="hidden" name="data" id="data-biblioteca" value="{{ jsonify $data }}" />
{{ end }} {{ define "js" }} {{ $biblioteca := resources.Get
"js/api/biblioteca.js" | js.Build (dict "minify" false)}}
<script src="{{ $biblioteca.Permalink }}"></script>
{{ end }}