{{ define "main" }}
<div class="relative bg-biblioteca-recursos-bg h-screen bg-cover bg-center">
  <div class="container">
    <div class="lg:pt-56">
      <h1 class="text-white lg:text-6xl uppercase font-bold lg:mb-3">
        Biblioteca de recursos
      </h1>
      <p class="font-light lg:w-7/12 text-white">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat.
      </p>
    </div>
  </div>
</div>
<section class="lg:pt-12 lg:pb-20 bg-white">
  <div class="grid grid-cols-1 lg:grid-cols-12">
    <div class="lg:col-start-2 lg:col-end-4">
      <h4
        class="text-primary-color-dark uppercase font-bold lg:text-xl lg:mb-3"
      >
        Filtros
      </h4>
      <div class="dropdown block relative mb-4">
        <button
          class="
            bg-primary-color-dark
            text-white
            font-semibold
            py-2
            px-4
            flex
            items-center
            justify-between
            block
            w-full
          "
        >
          <span class="mr-1 lg:text-lg">Tipo de recursos</span>
          <svg
            class="fill-current h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
            />
          </svg>
        </button>
        <div
          class="
            dropdown-menu
            relative
            hidden
            text-primary-color-dark
            px-2
            py-4
            bg-dropdown bg-center bg-cover
            w-full
          "
        >
          <label class="flex justify-between items-center mb-4">
            <span class="text-primary-color">Informes SISCRIMEL</span>
            <input type="checkbox" checked="checked" class="" />
          </label>
          <label class="flex justify-between items-center mb-4">
            <span class="text-primary-color">Publicaciones</span>
            <input type="checkbox" class="" />
          </label>
          <label class="flex justify-between items-center">
            <span class="text-primary-color">Investigaciones</span>
            <input type="checkbox" class="" />
          </label>
        </div>
      </div>
      <div class="dropdown block relative mb-4">
        <button
          class="
            bg-primary-color-dark
            text-white
            font-semibold
            py-2
            px-4
            flex
            items-center
            justify-between
            block
            w-full
          "
        >
          <span class="mr-1 lg:text-lg">Temas</span>
          <svg
            class="fill-current h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
            />
          </svg>
        </button>
        <div
          class="
            dropdown-menu
            relative
            hidden
            text-primary-color-dark
            px-2
            py-4
            bg-dropdown bg-center bg-cover
            w-full
          "
        >
          <label class="flex justify-between items-center mb-4">
            <span class="text-primary-color">Medio ambiente</span>
            <input type="checkbox" checked="checked" class="" />
          </label>
          <label class="flex justify-between items-center mb-4">
            <span class="text-primary-color">Homicidios</span>
            <input type="checkbox" class="" />
          </label>
          <label class="flex justify-between items-center mb-4">
            <span class="text-primary-color">Medio ambiente</span>
            <input type="checkbox" checked="checked" class="" />
          </label>
          <label class="flex justify-between items-center mb-4">
            <span class="text-primary-color">Homicidios</span>
            <input type="checkbox" class="" />
          </label>
          <label class="flex justify-between items-center mb-4">
            <span class="text-primary-color">Medio ambiente</span>
            <input type="checkbox" checked="checked" class="" />
          </label>
          <label class="flex justify-between items-center mb-4">
            <span class="text-primary-color">Homicidios</span>
            <input type="checkbox" class="" />
          </label>
          <label class="flex justify-between items-center">
            <span class="text-primary-color">Medio ambiente</span>
            <input type="checkbox" checked="checked" class="" />
          </label>
        </div>
      </div>
      <div class="dropdown block relative">
        <button
          class="
            bg-primary-color-dark
            text-white
            font-semibold
            py-2
            px-4
            flex
            items-center
            justify-between
            block
            w-full
          "
        >
          <span class="mr-1 lg:text-lg">Fecha de publicación</span>
          <svg
            class="fill-current h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
            />
          </svg>
        </button>
        <div
          class="
            dropdown-menu
            relative
            hidden
            text-primary-color-dark
            px-2
            py-4
            bg-dropdown bg-center bg-cover
            w-full
          "
        ></div>
      </div>
    </div>
    <div class="lg:col-start-5 lg:col-end-12">
      <div class="lg:flex lg:flex-col lg:items-end">
        <h4
          class="text-primary-color-dark uppercase font-bold lg:text-xl lg:mb-3"
        >
          Ordenar por
        </h4>
        <div class="dropdown block relative mb-12">
          <button
            class="
              bg-primary-color-dark
              text-white
              font-semibold
              py-2
              px-4
              flex
              items-center
              justify-between
            "
          >
            <span class="mr-1 lg:text-lg">Fecha de publicación</span>
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </button>
          <div
            class="
              dropdown-menu
              relative
              hidden
              text-primary-color-dark
              px-2
              py-4
              bg-dropdown bg-center bg-cover
              w-full
            "
          ></div>
        </div>
      </div>
      <!-- PARENT ELEMENT -->
      <div class="library-container">
        <!-- CHILDS ELEMENTS DATAS -->
        <!-- CHILDS ELEMENTS DATAS END -->
      </div>
      <!-- PARENT ELEMENT END -->
    </div>
  </div>
</section>
<input type="hidden" name="data" id="data-biblioteca" value="{{ jsonify .Site.Data.biblioteca }}" />
{{ end }}
{{ define "js" }}
{{ $biblioteca := resources.Get "js/api/biblioteca.js" | js.Build (dict "minify" true)}}
<script src="{{ $biblioteca.Permalink }}"></script>
{{ end }}
