{{ define "main" }}
<div class="relative">
    <img class="absolute top-0 left-0 object-cover object-center" src="/images/contactanos/banner-contactanos@2x.png"
        alt="banner contactanos">
</div>
<div class="grid grid-cols-1 lg:grid-cols-2 items-center">
    <div class="px-10 lg:px-12 xl:px-36 pt-40 pb-16 lg:pb-28 lg:pt-64 xl:pt-72 bg-color-white-2">
        <h2
            class="text-primary-color-dark text-4xl lg:text-5xl xl:text-6xl font-black mb-6 lg:mb-10 text-center lg:text-left">
            Capacitación
            <span class="block">Virtual</span>
        </h2>
        <p class="text-center lg:text-left">
            El CEDAE pone a disposición de la ciudadanía y de los funcionarios de la RNEC los siguientes programas de
            educación virtual relacionados con el funcionamiento de la democracia, la participación política y el
            fortalecimiento de las funciones misionales de la entidad.
        </p>
    </div>
    <div
        class="px-10 lg:px-16 xl:px-24 py-16 lg:pb-28 lg:pt-64 xl:pt-80 lg:self-stretch xl:self-end bg-bg-cursos-sm lg:bg-bg-cursos-lg bg-cover bg-center">
        <div class="text-center">
            <h2 class="mx-auto font-black text-2xl text-color-white mb-6 lg:text-3xl lg:mb-12">
                Ingresa a la plataforma
                <span class="block">de capacitación virtual</span>
                <span class="block">CEDAE-RNEC</span>
            </h2>
            <div class="inline-flex flex-col">
                <a target="_blank" href="https://escuelavirtual.registraduria.gov.co/"
                    class="bg-primary-color-dark uppercase text-white py-3 px-4 font-bold rounded text-xs mb-4">
                    Acceso a funcionarios RNEC
                </a>
                <a target="_blank" href="https://escuelavirtual.registraduria.gov.co/"
                    class="bg-primary-color-dark uppercase text-white py-3 px-4 font-bold rounded text-xs">
                    Acceso a funcionarios externos
                </a>
            </div>
        </div>
    </div>
</div>
<section class="py-10 md:py-14 lg:py-16 xl:py-20 bg-primary-color-dark">
    <div class="mx-auto w-10/12 lg:w-9/12 text-center lg:text-left">
        <h3 class="text-white text-xl lg:text-2xl xl:text-3xl mb-2 lg:mb-4">Escuela de nuevos liderazgos en
            cultura democrática para
            jóvenes.</h3>
        <p class="inline-block py-1 px-4 text-white text-xs uppercase border border-color-light mb-8 lg:mb-10 xl:mb-12">
            <span class="font-black text-lg mr-3">1.234</span> descargas
        </p>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-16 xl:gap-28">
            <div>
                <p class="text-white mb-8 lg:mb-10 xl:mb-12">
                    La consolidación de la democracia requiere la formación de nuevos liderazgos capaces de reconocer,
                    promover y garantizar el ejercicio de los derechos y deberes contemplados en la Constitución
                    Política y en el marco de la ciudadanía juvenil. Con el propósito de promover la participación en la
                    elección de los Consejos de Juventud, así como la generación y el fortalecimiento de nuevos
                    liderazgos juveniles vinculados a otras formas de organización e instancias de incidencia, se ha
                    conformado la “Escuela de Nuevos Liderazgos en Cultura Democrática”. La Escuela está dirigida a
                    jóvenes entre 14 y 28 años en todo el territorio nacional.
                </p>
                <a href="#" class="bg-color-light text-white font-bold rounded py-3 px-4 uppercase">Descarga los
                    contenidos</a>
            </div>
            <p class="text-white mb-8 lg:mb-10 xl:mb-12">
                Para ampliar la participación política de las juventudes, este proceso formativo busca brindar
                conocimientos básicos en torno al funcionamiento del Estado, la configuración y el funcionamiento del
                sistema político, particularmente del sistema electoral y los mecanismos de participación ciudadana; la
                caracterización de los distintos actores políticos; la aplicación de los derechos humanos en la
                construcción de políticas públicas, la promoción de la paz y la no discriminación; el reconocimiento de
                las diferentes formas de organización y participación del Sistema Nacional de Juventud, particularmente
                de los Consejos de Juventud y la apropiación de los principios, valores y prácticas de la democracia.
            </p>
        </div>
    </div>
    </div>
</section>
<section class="grid grid-cols-1 lg:grid-cols-2">
    <div class="bg-color-white-2 p-16 md:p-20 lg:p-28 xl:p-32 text-center lg:text-left">
        <h2 class="text-primary-color-dark text-xl lg:text-2xl xl:text-3xl mb-2 lg:mb-4">Escuela de formación
            política para mujeres.</h2>
        <p
            class="inline-block py-1 px-4 text-primary-color text-xs uppercase border border-color-light mb-3 lg:mb-4 xl:mb-5">
            <span class="font-black text-lg mr-3">1.234</span> descargas
        </p>
        <p class="mb-3 lg:mb-4 xl:mb-5">
            Esta iniciativa busca contribuir a la comprensión de las formas femeninas de liderazgo político a partir de
            la apropiación del contexto su incidencia política, su fundamentación y la gestión de la transformación para
            contribuir a una mayor representación en las instancias de poder mediante un enfoque de género.
        </p>
        <p class="mb-6 xl:mb-8">
            Se desarrolla un abordaje prospectivo de la participación política de las mujeres identificando los
            desafíos, experiencias, barreras de participación en la esfera de los partidos políticos, las organizaciones
            sociales, movimientos significativos de ciudadanos, así como las posibilidades que se presentan mediante la
            implementación del Nuevo Código Electoral de la organización Electoral. En esta escuela pueden participar
            mujeres de todo el territorio nacional, en especial de grupos étnicos (indígenas, negros, afros, raizales,
            palenqueros y Rom), en situación de discapacidad, víctimas del conflicto armado y pertenecientes a un
            partido político, sin ser estos criterios excluyentes.
        </p>
        <a href="#" class="bg-color-light text-white font-bold rounded py-3 px-4 uppercase">Descarga los
            contenidos</a>
    </div>
    <img class="self-stretch" src="/images/capacitacion-virtual/escuela-formacion@2x.jpg" alt="escuela formacion">
    <div class="p-16 md:p-20 lg:p-28 xl:p-32 text-center lg:text-left" style="background-color: #EAEDF0;">
        <h2 class="text-primary-color-dark text-xl lg:text-2xl xl:text-3xl mb-2 lg:mb-4">
            Escuela política para grupos Étnicos.
        </h2>
        <p
            class="inline-block py-1 px-4 text-primary-color text-xs uppercase border border-color-light mb-4 lg:mb-6 xl:mb-8">
            <span class="font-black text-lg mr-3">1.234</span> descargas
        </p>
        <p class="mb-6 lg:mb-8 xl:mb-12">
            Colombia es un país pluricultural y multiétnico. Esta iniciativa busca incentivar la participación política
            de los grupos étnicos, haciendo reconociendo sus derechos y deberes, desafíos, experiencias y limitantes por
            violencia y desplazamientos forzados de zonas rurales, la desaparición cultural, exclusión, el desarrollo de
            proyectos en zonas protegidas resguardos indígenas.
        </p>
        <a href="#" class="bg-color-light text-white font-bold rounded py-3 px-4 uppercase">Descarga los
            contenidos</a>
    </div>
    <div class="p-16 md:p-20 lg:p-28 xl:p-32 text-center lg:text-left bg-primary-color">
        <h2 class="text-white text-xl lg:text-2xl xl:text-3xl mb-2 lg:mb-4">
            Curso de capacitación a delegados departamentales y registradores distritales.
        </h2>
        <p class="inline-block py-1 px-4 text-white text-xs uppercase border border-color-light mb-4 lg:mb-6 xl:mb-8">
            <span class="font-black text-lg mr-3">1.234</span> descargas
        </p>
        <p class="mb-8 xl:mb-12 text-white">
            Este curso tiene como propósito fortalecer el conocimiento y las habilidades de los Delegados
            Departamentales y los Registradores Distritales en temas de las áreas misionales de Identificación, Registro
            Civil y Electoral (Censo y Gestión). El curso tiene una modalidad de trabajo virtual con una duración de 40
            horas y los contenidos de capacitación fueron creados por servidores de la entidad integrantes de la Red de
            Formadores RNEC.
        </p>
        <a href="#" class="bg-color-light text-white font-bold rounded py-3 px-4 uppercase">Acceso a la plataforma</a>
    </div>
    <img class="self-stretch" src="/images/capacitacion-virtual/curso-capacitacion@2x.jpg" alt="escuela formacion">
    <div class="bg-color-white-2 p-16 md:p-20 lg:p-28 xl:p-32 text-center lg:text-left">
        <h2 class="text-primary-color-dark text-xl lg:text-2xl xl:text-3xl mb-2 lg:mb-4">
            Curso de capacitación a registradores municipales, especiales y auxiliares.
        </h2>
        <p
            class="inline-block py-1 px-4 text-primary-color text-xs uppercase border border-color-light mb-4 lg:mb-6 xl:mb-8">
            <span class="font-black text-lg mr-3">1.234</span> descargas
        </p>
        <p class="mb-8 xl:mb-12">
            Este curso tiene como propósito fortalecer el conocimiento y las habilidades de los Delegados
            Departamentales y los Registradores Distritales en temas de las áreas misionales de Identificación, Registro
            Civil y Electoral (Censo y Gestión). El curso tiene una modalidad de trabajo virtual con una duración de 40
            horas y los contenidos de capacitación fueron creados por servidores de la entidad integrantes de la Red de
            Formadores RNEC.
        </p>
        <a href="#" class="bg-color-light text-white font-bold rounded py-3 px-4 uppercase">Acceso a la plataforma</a>
    </div>
</section>
<div class="bg-color-datasketch py-12 lg:py-16 xl:py-20">
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-y-16">
        <img class="lg:col-start-1 lg:col-end-7" src="/images/capacitacion-virtual/contenido-descargas.svg"
            alt="contenido descargas">
        <div
            class="lg:col-start-8 lg:col-end-12 w-10/12 mx-auto lg:w-full flex flex-col justify-center items-center py-4 lg:py-1 lg:px-4 uppercase border border-color-light">
            <p class="font-black text-color-light text-4xl lg:text-5xl xl:text-6xl mb-2 xl:mb-4">634.563</p>
            <p class=" lg:text-lg xl:text-xl text-white">contenidos descargados</p>
        </div>
    </div>
</div>
{{ end }}