{{ define "main" }}
{{ partial "nav-datos-democracia" . }}
{{ partial "nav-siscrimel" . }}

<div class="relative bg-bg-banner-informes-sm lg:bg-bg-banner-informes-lg h-screen bg-cover bg-center pt-56 lg:pt-0 text-center lg:text-left">
  <div class="mx-auto w-10/12 lg:w-9/12">
    <div class="lg:pt-56">
      <h1 class="text-white text-4xl lg:text-5xl xl:text-6xl font-black mb-6 lg:mb-3">
        Conoce los informes
      </h1>
      <p class="lg:w-5/12 text-white text-lg lg:text-xl">
        Interactúa con las bases de datos de resultados electorales a través de nuestra herramienta de visualización.
      </p>
    </div>
  </div>
</div>
<section class="py-12 lg:pt-6 lg:pb-20">
  <div class="mx-auto w-10/12 lg:w-9/12">
    <div class="mt-12 lg:mt-16">
      <div class="text-center px-4">
        <h3 class="text-primary-color text-xl lg:text-2xl xl:text-3xl font-black mb-4 lg:mb-6 text-center">
          Informe de Mapas de riesgos 2022
        </h3>
        <a href="/pdf/Informe de Mapas de riegos 2022.pdf" download class="btn btn--tertiary inline-block">Descargar</a>
      </div>
    </div>
  </div>
</section>
{{ end }}