{{ define "main" }}
<div class="relative">
    <img class="absolute top-0 left-0 object-cover object-center" src="/images/contactanos/banner-contactanos@2x.png"
        alt="banner contactanos">
</div>
<div class="grid grid-cols-1 lg:grid-cols-2 items-center">
    <div class="px-10 lg:px-12 xl:px-36 pt-40 pb-16 lg:pb-28 lg:pt-64 xl:pt-72 bg-color-white-2">
        <h2 class="text-primary-color-dark text-5xl lg:text-6xl font-black mb-10 text-center lg:text-left">Contáctanos</h2>
        <ul class="grid grid-cols-1 items-center gap-6">
            <li class="flex flex-col lg:flex-row items-center text-center lg:text-left">
                <img class="mb-4 lg:mr-4 lg:mb-0" src="/images/contactanos/head-phones.svg" alt="audifonos">
                <p>Conmutador: (571) 220 2880 – ext. 1376</p>
            </li>
            <li class="flex flex-col lg:flex-row items-center text-center lg:text-left">
                <img class="mb-4 lg:mr-4 lg:mb-0" src="/images/contactanos/mail.svg" alt="email">
                <p>Correo electrónico: cedae@registraduria.gov.co</p>
            </li>
            <li class="flex flex-col lg:flex-row items-center text-center lg:text-left">
                <img class="mb-4 lg:mr-4 lg:mb-0" src="/images/contactanos/location.svg" alt="localidad">
                <p>Avenida Calle 26 # 51-50 - CAN (Bogotá - Colombia)</p>
            </li>
            <li class="flex flex-col lg:flex-row items-center text-center lg:text-left">
                <img class="mb-4 lg:mr-4 lg:mb-0" src="/images/contactanos/clock.svg" alt="reloj">
                <p>
                    Horario de atención correspondencia de lunes a viernes de 8:00 a.m. a 4:30 p.m. en jornada continua
                    (Sede CAN Avenida Calle 26 # 51-50).
                </p>
            </li>
        </ul>
    </div>
    <div class="px-10 lg:px-16 xl:px-24 py-16 lg:pb-28 lg:pt-64 xl:pt-72 text-center lg:self-stretch xl:self-end" style="background-color: #002441;">
        <img class="mx-auto mb-8 lg:mb-12" src="/images/contactanos/icono-registraduria.svg" alt="registraduria">
        <a class="bg-color-white-2 font-bold uppercase text-sm py-2 px-4 rounded" style="color:#002441;" href="https://www.registraduria.gov.co/" target="_blank">Conocer más</a>
    </div>
</div>
{{ end }}