{{ define "main" }} {{ partial "nav-siscrimel" . }}
<div
  class="
    relative
    bg-bg-banner-electoral-sm
    h-screen
    bg-cover bg-center
    text-center
    py-24
    md:py-16
    lg:py-0
  "
>
  <div class="container">
    <h1
      class="
        heading-secondary heading-secondary--white
        uppercase
        lg:absolute lg:inset-y-1/4
        text-center
        lg:text-left
      "
    >
      <span>Sobre la</span>Criminalidad <br />
      electoral
    </h1>
  </div>
</div>
<div class="text-center -mt-16 pb-16 lg:pt-8">
  <div class="container">
    <h2 class="heading-secondary heading-secondary--blue mb-4">
      <span>¿Qué es la</span>Criminalidad electoral ?
    </h2>
    <p
      class="
        paragraph
        paragrpah--blue
        lg:w-6/12 lg:m-auto
        text-primary-color
        xl:w-8/12
      "
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus neque
      quo necessitatibus voluptatum nam consequuntur accusamus quos maiores,
      doloremque architecto. Fugiat ea labore placeat totam facilis dolorum
      eligendi molestiae adipisci.
    </p>
  </div>
</div>
<div class="pb-12 lg:pb-24">
  <div class="bg-bg-lines bg-cover bg-center text-center pb-12">
    <div
      class="
        container
        grid grid-cols-1
        gap-y-6
        lg:gap-y-0 lg:grid-cols-2
        xl:text-xl
      "
    >
      <div
        class="
          uppercase
          text-color-light
          border-r border-primary-color
          text-bold
        "
      >
        <p class="text-4xl lg:text-5xl">7.616.857</p>
        <p>Delitos</p>
        <p>Electorales</p>
        <p class="lowercase text-base text-color-body">
          en colombia entre 2010 a 2019
        </p>
      </div>
      <div class="uppercase text-primary-color text-bold">
        <p class="text-4xl lg:text-5xl">10.398.689</p>
        <p>Irregularidades</p>
        <p>Electorales</p>
        <p class="lowercase text-base text-color-body">
          en colombia entre 2010 a 2019
        </p>
      </div>
    </div>
  </div>
</div>
<section class="pb-14 lg:pb-0 m-auto w-11/12 lg:w-8/12">
  <h2 class="heading-secondary heading-secondary--blue lg:text-center">
    Delito Electoral
  </h2>
  <p class="paragraph paragraph--blue my-8 lg:my-12">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
    nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
    wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
    lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
    dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
    dolore eu feugiat
  </p>
  <h3 class="text-color-orange italic text-xl mb-6">
    ¿Como identificar un delito electoral?
  </h3>
  <p class="paragraph paragraph--blue mb-8">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
    nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
    wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
    lobortis nisl ut aliquip ex ea commodo consequat.
  </p>
  <h3 class="text-color-orange italic text-xl mb-6">
    ¿Cuales son las consecuencias de un delito electoral?
  </h3>
  <p class="paragraph paragraph--blue">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
    nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
    wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
    lobortis nisl ut aliquip ex ea commodo consequat.
  </p>
</section>
<section class="pb-14 lg:pt-28 lg:pb-8 m-auto w-11/12 lg:w-8/12">
  <h2 class="heading-secondary heading-secondary--blue lg:text-center">
    Irregularidad Electoral
  </h2>
  <p class="paragraph paragraph--blue my-8 lg:my-12">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
    nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
    wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
    lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
    dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
    dolore eu feugiat
  </p>
  <h3 class="text-color-orange italic text-xl mb-6">
    ¿Como identificar una irregularidad electoral?
  </h3>
  <p class="paragraph paragraph--blue mb-8">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
    nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
    wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
    lobortis nisl ut aliquip ex ea commodo consequat.
  </p>
  <h3 class="text-color-orange italic text-xl mb-6">
    ¿Cuales son las consecuencias de una irregularidad electoral?
  </h3>
  <p class="paragraph paragraph--blue">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
    nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
    wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
    lobortis nisl ut aliquip ex ea commodo consequat.
  </p>
</section>
<section class="pb-10 bg-color-blue-dark lg:py-20">
  <div class="text-center lg:w-8/12 m-auto">
    <h2 class="heading-secondary heading-secondary--blue">
      ¿Como se les atribuye la criminalidad electoral en Colombia?
    </h2>
    <div class="my-5 md:my-8 lg:my-10">
      <a href="#" class="btn btn--primary-light mb-4 md:mr-4 lg:mb-0"
        >Por delitos electorales</a
      >
      <a href="#" class="btn btn--primary">Por irregularidades electorales</a>
    </div>
    <p class="paragraph paragraph--blue mb-8 lg:mb-20">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
      wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
      lobortis nisl ut aliquip ex ea commodo consequat.
    </p>
  </div>
  <div class="container text-center">
    <h3 class="heading-tertiary heading-tertiary--blue uppercase lg:text-xl">
      Delitos Electorales a Nivel Departamental en Colombia
    </h3>
    <img
      src="/images/siscrimel/criminalidad-electoral/delitos-electorales.svg"
      alt=""
      class="object-cover"
    />
  </div>
</section>
<section class="bg-bg-lines-dark bg-center bg-cover py-8 lg:py-20">
  <div class="container text-center">
    <div class="lg:w-8/12 m-auto text-color-white">
      <h2 class="mb-4 font-bold lg:mb-8 xl:text-4xl">
        ¿Conoces algún caso de criminalidad electoral en Colombia?
      </h2>
      <p class="font-light mb-4 lg:mb-8 lg:w-10/12 m-auto lg:text-xl">
        Te conectamos con las entidades a las cuales puedes acudir si deseas
        reportar algún acto de criminalidad electoral en Colombia
      </p>
      <a href="#" class="btn btn--secondary">Conoce como denunciar</a>
    </div>
  </div>
</section>
{{ partial "footer-siscrimel" . }} {{ end }}
