{{ define "main" }}
{{ partial "nav-datos-democracia" . }}
{{ partial "nav-siscrimel" . }}
<div class="
    bg-bg-banner-electoral-sm
    h-screen
    bg-cover bg-center
    relative
    pt-56
    lg:pt-0
    text-center lg:text-left
  ">
  <div class="mx-auto w-10/12 lg:w-9/12">
    <div class="lg:pt-40">
      <h1 class="
        text-white text-4xl lg:text-5xl xl:text-6xl
        uppercase font-black
      ">
        <span class="text-4xl block normal-case font-normal">Sobre la</span>Criminalidad <br />
        electoral
      </h1>
    </div>
  </div>
  <img class="hidden lg:block lg:absolute lg:bottom-0 object-cover w-full" src="/images/curva-arriba-abajo.svg" alt="">
</div>
<div class="text-center -mt-16 pb-8 lg:pb-16 lg:pt-8">
  <div class="mx-auto w-10/12 lg:w-9/12">
    <h2 class="text-primary-color-dark font-black text-4xl lg:text-5xl mb-8 lg:mb-10">
      <span class="block text-3xl lg:text-3xl font-normal">¿Qué es la</span>Criminalidad electoral ?
    </h2>
    <p class="
        lg:w-8/12 lg:m-auto
        text-xl
      ">
      De acuerdo con la Política Criminal Electoral, elaborada a partir de la Ley 1864 de 2017, el crimen electoral es
      una estrategia que distorsiona la expresión de la preferencia de la ciudadanía y/o manipular el resultado
      electoral, ya sea para ganar una elección popular, evitar que la competencia gane las elecciones o forzar un
      resultado de un mecanismo de participación democrática (Política Criminal Electoral, 2019, p. 12).
    </p>
  </div>
</div>
<div class="bg-bg-lines bg-cover bg-center py-12 lg:py-20">
  <div class="text-center">
    <div class="
    mx-auto w-10/12 lg:w-9/12
        grid
        gap-y-6
        lg:grid-cols-2
        lg:text-xl
      ">
      <div class="
          uppercase
          text-color-light
          border-r border-primary-color
          text-bold
        ">
        <p class="text-4xl lg:text-5xl xl:text-6xl">5.197</p>
        <p class="font-bold text-xl lg:text-2xl xl:text-3xl">Denuncias de Delitos</p>
        <p class="font-bold text-xl lg:text-2xl xl:text-3xl">Electorales</p>
        <p class="lowercase text-base text-color-body lg:mb-4">
          en colombia entre 2014 a 2019
        </p>
        <span class="italic text-xs text-color-body">Fuente: SPOA Fiscalía General de la Nación</span>
      </div>
      <div class="uppercase text-primary-color text-bold">
        <p class="text-4xl lg:text-5xl xl:text-6xl">8.057</p>
        <p class="font-bold text-xl lg:text-2xl xl:text-3xl">Denuncias de Irregularidades</p>
        <p class="font-bold text-xl lg:text-2xl xl:text-3xl">Electorales</p>
        <p class="lowercase text-base text-color-body lg:mb-4">
          en colombia entre 2014 a 2019
        </p>
        <span class="italic text-xs text-color-body">Fuente: URIEL – Ministerio del Interior</span>
      </div>
    </div>
  </div>
</div>
<section class="m-auto py-12 lg:py-16 lg:w-8/12">
  <div class="mx-auto w-10/12 lg:w-9/12 text-center lg:text-left">
    <h3 class="text-primary-color-dark font-bold text-2xl lg:text-3xl xl:text-4xl mb-3 lg:mb-5">
      Delito Electoral
    </h3>
    <p class="text-lg lg:text-xl mb-8 lg:mb-10">
      Son aquellos delitos contemplados en el Código de Procedimiento Penal (Ley 906 de 2004) en su capítulo XIV
      denominado “Delitos contra mecanismos de participación democrática”, definidos en los artículos 386 a 396C y
      modificados por la Ley 1142 de 2007 y la Ley 1864 de 2017.
    </p>
    <h3 class="text-primary-color-dark font-bold text-2xl lg:text-3xl xl:text-4xl mb-3 lg:mb-5">
      Irregularidad Electoral
    </h3>
    <p class="text-lg lg:text-xl">
      Se entiende por irregularidades las conductas asociadas a las prohibiciones, inhabilidades y limitaciones de los
      funcionarios públicos para intervenir o participar en política y que afecten la transparencia del proceso
      electoral, contempladas en el derecho disciplinario, la Constitución Política y demás normas concomitantes en la
      materia.
    </p>
  </div>
</section>
<section class="bg-color-blue-dark py-12 lg:py-20">
  <div class="text-center lg:w-6/12 mx-auto w-10/12">
    <h2 class="text-primary-color-dark font-black text-2xl lg:text-3xl xl:text-4xl lg:mb-10">
      ¿Cuál es la tasa de la criminalidad electoral en Colombia?
    </h2>
    <div class="my-6 lg:my-10">
      <div class="mb-4 lg:mb-0">
        <div class="bg-color-light text-white py-2 px-4 uppercase inline-block lg:mb-3 rounded">Por delitos
          electorales</div>
      </div>
      <div class="">
        <div class="bg-primary-color-dark text-white py-2 px-4 uppercase inline-block rounded">Por
          irregularidades
          electorales</div>
      </div>
    </div>
    <p class="text-lg lg:text-xl lg:mb-16">
      Las tasas de delitos e irregularidades electorales permiten definir la magnitud del cambio y la dinámica de estas
      variables en el tiempo, tomando la frecuencia de las denuncias de forma anual y dividiéndola por la población
      habilitada para votar a partir del censo electoral. Esta operación estadística permite reducir los sesgos en el
      análisis del fenómeno que se presenta si se tiene en cuenta solo la frecuencia de las denuncias a nivel municipal
      o departamental.
    </p>
  </div>
  <div class="mx-auto w-10/12 lg:w-9/12 text-center">
    <h3 class="heading-tertiary heading-tertiary--blue uppercase lg:text-xl">
      TASA DELITOS ELECTORALES A NIVEL DEPARTAMENTAL EN COLOMBIA
    </h3>
    <img src="/images/siscrimel/criminalidad-electoral/delitos-electorales.svg" alt="" class="object-cover" />
  </div>
</section>
<section class="bg-bg-lines-dark bg-center bg-cover py-12 lg:py-20">
  <div class="mx-auto w-10/12 lg:w-9/12">
    <div class="lg:w-8/12 mx-auto text-color-white text-center">
      <h2 class="font-black mb-4 text-2xl lg:text-3xl xl:text-4xl">
        ¿Conoces algún caso de criminalidad electoral en Colombia?
      </h2>
      <p class="m-auto font-light mb-8 lg:mb-12 lg:w-10/12 lg:text-xl">
        Te conectamos con las entidades a las cuales puedes acudir si deseas reportar algún acto de criminalidad
        electoral en Colombia
      </p>
      <a href="{{ relref . " contactanos.md" }}"
        class="bg-color-bg py-2 px-8 text-primary-color uppercase font-bold rounded">Conoce como denunciar</a>
    </div>
  </div>
</section>
<section class="py-12 lg:py-20">
  <div class="grid grid-cols-1 gap-y-4 lg:grid-cols-3 lg:gap-x-8 w-10/12 lg:w-11/12 mx-auto">
    <div class="p-10 lg:px-10 lg:py-8 rounded-3xl bg-bg-blue-dark bg-cover bg-center">
      <img src="/images/siscrimel/criminalidad-electoral/siscrimel-lg.jpg" alt="" />
      <a class="
            block
            mt-4
            mb-2
            text-primary-color-dark
            font-black
            text-xl
          " href="{{ relref . " datos-democracia/siscrimel/que-es-siscrimel.md" }}">SISCRIMEL</a>
      <p class="text-xl">¿Qué es SISCRIMEL?</p>
    </div>
    <div class="p-10 lg:px-10 lg:py-8 rounded-3xl bg-bg-blue-dark bg-cover bg-center">
      <img src="/images/siscrimel/criminalidad-electoral/datas-lg.jpg" alt="" />
      <a class="
            block
            font-black
            mt-4
            mb-2
            text-primary-color-dark
            text-xl
          " href="{{ relref . " datos-democracia/siscrimel/explora-los-datos.md" }}">Explora los datos</a>
      <p class="text-xl">
        Conoce los datos de criminalidad electoral en Colombia
      </p>
    </div>
    <div class="p-10 lg:px-10 lg:py-8 rounded-3xl bg-bg-blue-dark bg-cover bg-center">
      <img src="/images/siscrimel/criminalidad-electoral/information-lg.jpg" alt="" />
      <a class="
            block
            font-black
            mt-4
            mb-2
            text-primary-color-dark
            text-xl
          " href="{{ relref . " datos-democracia/siscrimel/conoce-los-informes.md" }}">Conoce los informes</a>
      <p class="text-xl">
        Descarga los informes de SISCRIMEL
      </p>
    </div>
  </div>
</section>
{{ end }}