{{ define "main" }} {{ partial "nav-siscrimel" . }}
<div
  class="
    bg-bg-banner-electoral-sm
    h-screen
    bg-cover bg-center
  "
>
  <div class="container">
    <div class="lg:pt-40">
      <h1
      class="
        text-white lg:text-6xl
        uppercase font-bold
      "
    >
      <span class="text-4xl block normal-case font-normal">Sobre la</span>Criminalidad <br />
      electoral
    </h1>
    </div>
  </div>
</div>
<div class="text-center -mt-16 pb-16 lg:pt-8">
  <div class="container">
    <h2 class="heading-secondary heading-secondary--blue lg:mb-10">
      <span>¿Qué es la</span>Criminalidad electoral ?
    </h2>
    <p
      class="
        paragraph
        paragrpah--blue
        lg:w-8/12 lg:m-auto
        text-primary-color
      "
    >
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
    </p>
  </div>
</div>
<div class="bg-bg-lines bg-cover bg-center lg:py-20">
  <div class="text-center">
    <div
      class="
        container
        grid
        gap-y-6
        lg:grid-cols-2
        lg:text-xl
      "
    >
      <div
        class="
          uppercase
          text-color-light
          border-r border-primary-color
          text-bold
        "
      >
        <p class="lg:text-6xl">7.616.857</p>
        <p class="font-bold lg:text-3xl">Delitos</p>
        <p class="font-bold lg:text-3xl">Electorales</p>
        <p class="lowercase text-base text-color-body">
          en colombia entre 2010 a 2019
        </p>
      </div>
      <div class="uppercase text-primary-color text-bold">
        <p class="lg:text-6xl">10.398.689</p>
        <p class="font-bold lg:text-3xl">Irregularidades</p>
        <p class="font-bold lg:text-3xl">Electorales</p>
        <p class="lowercase text-base text-color-body">
          en colombia entre 2010 a 2019
        </p>
      </div>
    </div>
  </div>
</div>
<section class="m-auto lg:py-16 lg:w-8/12">
  <div class="container">
    <h2 class="heading-secondary heading-secondary--blue lg:text-center">
      Delito Electoral
    </h2>
    <p class="paragraph paragraph--blue my-8 lg:my-12">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
      wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
      lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
      dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
      dolore eu feugiat
    </p>
    <h3 class="text-color-orange italic text-xl mb-6">
      ¿Como identificar un delito electoral?
    </h3>
    <p class="paragraph paragraph--blue mb-8">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
      wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
      lobortis nisl ut aliquip ex ea commodo consequat.
    </p>
    <h3 class="text-color-orange italic text-xl mb-6">
      ¿Cuales son las consecuencias de un delito electoral?
    </h3>
    <p class="paragraph paragraph--blue">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
      wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
      lobortis nisl ut aliquip ex ea commodo consequat.
    </p>
  </div>
</section>
<section class="m-auto lg:py-16 lg:w-8/12">
  <div class="container">
    <h2 class="heading-secondary heading-secondary--blue lg:text-center">
      Irregularidad Electoral
    </h2>
    <p class="paragraph paragraph--blue my-8 lg:my-12">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
      wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
      lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
      dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
      dolore eu feugiat
    </p>
    <h3 class="text-color-orange italic text-xl mb-6">
      ¿Como identificar una irregularidad electoral?
    </h3>
    <p class="paragraph paragraph--blue mb-8">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
      wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
      lobortis nisl ut aliquip ex ea commodo consequat.
    </p>
    <h3 class="text-color-orange italic text-xl mb-6">
      ¿Cuales son las consecuencias de una irregularidad electoral?
    </h3>
    <p class="paragraph paragraph--blue">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
      wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
      lobortis nisl ut aliquip ex ea commodo consequat.
    </p>
  </div>
</section>
<section class="bg-color-blue-dark lg:py-20">
  <div class="text-center lg:w-6/12 m-auto">
    <h2 class="text-primary-color font-bold lg:text-4xl">
      ¿Cuál es la tasa de la criminalidad electoral en Colombia?
    </h2>
    <div class="lg:my-10">
      <div class="">
        <a href="#" class="bg-color-light text-white py-2 px-4 uppercase inline-block lg:mb-3"
        >Por delitos electorales</a
      >
      </div>
       <div class="">
        <a href="#" class="bg-primary-color text-white py-2 px-4 uppercase inline-block">Por irregularidades electorales</a>
       </div>
    </div>
    <p class="paragraph paragraph--blue lg:mb-16">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
      wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
      lobortis nisl ut aliquip ex ea commodo consequat.
    </p>
  </div>
  <div class="container text-center">
    <h3 class="heading-tertiary heading-tertiary--blue uppercase lg:text-xl">
      TASA DELITOS ELECTORALES A NIVEL DEPARTAMETAL EN COLOMBIA
    </h3>
    <img
      src="/images/siscrimel/criminalidad-electoral/delitos-electorales.svg"
      alt=""
      class="object-cover"
    />
  </div>
</section>
<section class="bg-bg-lines-dark bg-center bg-cover lg:py-20">
  <div class="container">
    <div class="lg:w-8/12 m-auto text-color-white text-center">
      <h2 class="font-bold lg:mb-4 xl:text-4xl">
        ¿Conoces algún caso de criminalidad electoral en Colombia?
      </h2>
      <p class="m-auto font-light lg:mb-12 lg:w-10/12 lg:text-xl">
        Te conectamos con las entidades a las cuales puedes acudir si deseas reportar algún acto de criminalidad electoral en Colombia
      </p>
      <a href="#" class="bg-color-bg py-2 px-8 text-primary-color uppercase font-bold">Conoce como denunciar</a>
    </div>
  </div>
</section>
<section class="lg:py-20">
  <div class="grid grid-cols-1 gap-y-4 lg:grid-cols-3 lg:gap-x-8 lg:w-11/12 m-auto">
      <div class="lg:px-8 py-6 bg-bg-blue-dark bg-cover bg-center">
        <img
          src="/images/siscrimel/criminalidad-electoral/siscrimel-lg.jpg"
          alt=""
        />
        <a
          class="
            block
            text-primary-color
            font-bold
            mt-4
            mb-2
            text-color-primary
            font-bold
            text-xl
          "
          href="{{ relref . "siscrimel/quienes-somos.md" }}"
          >SISCRIMEL</a
        >
        <p class="paragrah paragraph--blue">¿Qué es SISCRIMEL?</p>
      </div>
      <div class="lg:px-8 py-6 bg-bg-blue-dark bg-cover bg-center">
        <img
          src="/images/siscrimel/criminalidad-electoral/datas-lg.jpg"
          alt=""
        />
        <a
          class="
            block
            text-primary-color
            font-bold
            mt-4
            mb-2
            text-color-primary
            font-bold
            text-xl
          "
          href="{{ relref . "siscrimel/explora-los-datos.md" }}"
          >Explora los datos</a
        >
        <p class="paragrah paragraph--blue">
          Conoce los datos de criminalidad electoral en Colombia
        </p>
      </div>
      <div class="lg:px-8 py-6 bg-bg-blue-dark bg-cover bg-center">
        <img
          src="/images/siscrimel/criminalidad-electoral/information-lg.jpg"
          alt=""
        />
        <a
          class="
            block
            text-primary-color
            font-bold
            mt-4
            mb-2
            text-color-primary
            font-bold
            text-xl
          "
          href="#"
          >Conoce los informes</a
        >
        <p class="paragrah paragraph--blue">
          Descarga los informes de SISCRIMEL
        </p>
      </div>
  </div>
</section>
{{ end }}

