{{ define "main" }}
{{ partial "nav-datos-democracia" . }}
<div class="
    relative
    overflow-hidden
    bg-cover bg-center
    text-color-white
    bg-banner-home-sm
    lg:bg-banner-home-lg
    banner--home
  ">
  <div class="container">
    <div class="text-center lg:text-left lg:w-6/12 pt-56 lg:pt-48">
      <h1 class="uppercase mb-8 text-4xl font-black lg:mb-3 lg:text-5xl xl:text-6xl">
        Datos para <span class="block">la democracia</span>
      </h1>
      <p class="mx-auto lg:mx-0 w-9/12 lg:w-full">
        Aquí podrás encontrar los datos relacionados con las funciones misionales de la Registraduría del siglo XXI, así
        como las investigaciones, publicaciones y capacitaciones virtuales del CEDAE que buscan aportar al
        fortalecimiento de la democracia.
      </p>
      <p class="
          absolute
          bottom-16
          md:invisible
          lg:visible
          text-center
          px-12
          lg:px-0 lg:bottom-28 lg:w-6/12 lg:text-xl lg:right-1/4
        ">
        Datos para la Democracia es una iniciativa del CEDAE que busca mejorar el acceso, uso y conocimiento de la
        información relacionada con el desarrollo de las funciones misionales de la Registraduría Nacional del Estado
        Civil en materia electoral, de registro civil e identificación, siguiendo los estándares de datos abiertos.
      </p>
    </div>
  </div>
</div>
<section class="py-16 lg:pt-20 lg:pb-24">
  <div class="grid grid-cols-1 gap-y-20 lg:grid-cols-2 items-center">
    <div class="
        text-center
        bg-siscrimel-bg bg-cover bg-center
        lg:text-left lg:pl-32
      ">
      <h2 class="mx-auto lg:mx-0 w-10/12 lg:w-full text-4xl text-primary-color-dark uppercase font-black lg:text-5xl">
        Siscrimel
        <span class="lowercase block text-4xl font-normal">Sistema de información</span>
        <span class="lowercase block text-4xl font-normal">Sobre Criminalidad Electoral</span>
      </h2>
      <p class="
          my-10
          px-10
          paragraph paragraph--black
          lg:px-0 lg:my-7 lg:w-10/12
        ">
        En esta sección podrás visualizar y descargar los datos relacionados con el fenómeno de los delitos e
        irregularidades electorales, identificando su relación con otros factores contextuales de tipo económico, social
        y político.
      </p>
      <p class="
      my-10
      px-10
      paragraph paragraph--black
      lg:px-0 lg:my-7 lg:w-10/12
    ">
        Adicionalmente, podrá conocer los informes realizados por la Registraduría Nacional del Estado Civil
        en colaboración con otras entidades del Estado para identificar el comportamiento de la criminalidad electoral y
        las recomendaciones para la protección de la democracia.
      </p>
      <a href="{{ relref . " datos-democracia/siscrimel/que-es-siscrimel.md" }}" class="
          bg-primary-color-dark
          text-color-white
          py-2
          px-6
          uppercase
          font-bold
        ">Leer más</a>
    </div>
    <div class="px-10 text-center lg:text-left xl:px-44">
      {{ partial "siscrimel-slider" . }}
    </div>
  </div>
</section>
<section class="py-16 bg-primary-color lg:pt-28 lg:pb-36">
  <div class="container text-center">
    <h2 class="
        text-4xl
        mb-8
        font-black
        text-color-white
        uppercase
        lg:text-5xl lg:mb-12
      ">
      Resultados Electorales
    </h2>
    <div class="text-center">
      <p class="mb-8 text-white m-auto w-10/12 lg:w-6/12 lg:mb-16">
        Presentamos a la ciudadanía, a la comunidad académica y a la sociedad en general la serie de resultados
        históricos de los procesos electorales ordinarios de carácter nacional (Congreso y Presidencia) y local
        (Asamblea, Gobernación, Concejo, Alcaldía y JAL).
      </p>
      <h3 class="text-white text-3xl mb-10 lg:text-4xl lg:mb-14">Años más consultados</h3>
      <div class="
          grid grid-cols-2
          gap-8
          mx-auto
          mb-12
          w-10/12
          lg:grid-cols-5
          lg:gap-x-12
          xl:gap-x-16 xl:w-9/12 lg:mb-16
        ">
        <div href="#" class="
            text-2xl
            lg:text-3xl text-white
            px-4
            py-3
            xl:text-4xl
            border-2 border-primary-color-light
          ">2010</div>
        <div href="#" class="
            text-2xl
            lg:text-3xl text-white
            px-4
            py-3
            xl:text-4xl
            border-2 border-primary-color-light
          ">2011</div>
        <div href="#" class="
            text-2xl
            lg:text-3xl text-white
            px-4
            py-3
            xl:text-4xl
            border-2 border-primary-color-light
          ">2014</div>
        <div href="#" class="
            text-2xl
            lg:text-3xl text-white
            px-4
            py-3
            xl:text-4xl
            border-2 border-primary-color-light
          ">2018</div>
          <div href="#" class="
          text-2xl
          lg:text-3xl text-white
          px-4
          py-3
          xl:text-4xl
          border-2 border-primary-color-light
        ">2019</div>
      </div>
      <a href="{{ relref . "datos-democracia/resultados-electorales/explora-los-datos.md" }}" class="bg-color-white uppercase font-bold text-primary-color py-3 px-4">Conoce los datos</a>
    </div>
  </div>
</section>
<section class="">
  <div class="grid lg:items-center lg:grid-cols-12">
    <ul class="
        p-16
        bg-primary-color-dark
        text-color-white
        order-2
        lg:order-1 lg:col-start-1 lg:col-end-6 lg:p-28
      ">
      <li class="mb-8">
        <span class="mr-6">1.</span> Referendo
      </li>
      <li class="mb-8">
        <span class="mr-6">2.</span> Plebiscito
      </li>
      <li class="mb-8">
        <span class="mr-6">3.</span> Cabildo Abierto
      </li>
      <li class="mb-8">
        <span class="mr-6">4.</span> Revocatoria de mandato
      </li>
      <li class="">
        <span class="mr-6">5.</span> Consulta popular
      </li>
    </ul>
    <div class="
        order-1
        bg-cover bg-center
        py-12
        lg:py-0 lg:order-2 lg:px-24 lg:col-start-6 lg:col-end-13
        bg-mechanism-bg
      ">
      <h2 class="
          text-center text-4xl
          uppercase
          font-black
          lg:text-5xl lg:text-left
          text-primary-color-dark
        ">
        <span class="block text-3xl font-normal normal-case lg:text-3xl">Mecanismos de</span>participación <span
          class="block">ciudadana</span>
      </h2>
      <p class="my-10 m-auto w-10/12 text-center lg:text-left lg:mx-0 lg:my-8">
        A continuación, se presenta los resultados obtenidos de los mecanismos de participación ciudadana contemplados
        en el artículo 103 de la Constitución Política de Colombia tales como el plebiscito, el referendo, la consulta
        popular, el cabildo abierto, la iniciativa legislativa y la revocatoria del mandato.
      </p>
      <div class="text-center lg:text-left">
        <a href="{{ relref . "datos-democracia/mecanismos-de-participacion/explora-los-datos.md" }}" class="
            bg-primary-color-dark
            text-color-white
            py-2
            px-6
            uppercase
            font-bold
          ">Conoce los datos</a>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ define "head" }}
<link rel="stylesheet" href="https://unpkg.com/swiper@6.7.0/swiper-bundle.min.css" />
{{ end }} {{ define "js" }} {{ $services := resources.Get "js/datos-democracia.js" |
js.Build (dict "minify" true)}}
<script src="{{ $services.Permalink }}"></script>
{{ end }}