{{ define "main" }}
{{ partial "nav-datos-democracia" . }}
{{ partial "nav-resultados-electorales" . }}

{{ $data := .Site.Data.resultados }}
{{ $years := slice }}
{{ $levels := slice }}
{{ $types := slice }}

<!-- Get categories -->
{{ range $data }}
{{ $isYear := findRE "[0-9]{4}" .ano }}
{{ if eq (len $isYear) 1 }}
{{ $years = $years | append (int .ano) }}
{{ end }}
{{ if .nivel }}
{{ $levels = $levels | append .nivel }}
{{ end }}
{{ if .tipo }}
{{ $types = $types | append .tipo }}
{{ end }}
{{ end }}

<div class="bg-bg-explora-datos h-screen bg-cover bg-center relative text-center lg:text-left pt-48 lg:pt-0">
  <div class="mx-auto w-10/12 lg:w-9/12">
    <div class="lg:pt-40">
      <h1 class="text-white text-4xl lg:text-5xl xl:text-6xl font-black mb-4 lg:mb-6">
        Descarga los datos
      </h1>
      <p class="text-lg lg:text-xl text-white lg:w-5/12">
        Accede a las bases de datos de resultados electorales a través de nuestra herramienta de visualización.
      </p>
    </div>
  </div>
  <img class="hidden lg:block lg:absolute lg:-bottom-0 object-cover w-full" src="/images/curva-arriba-abajo.svg"
    alt="" />
</div>
<section class="lg:pt-12 lg:pb-20 bg-color-white-2">
  <div class="grid grid-cols-1 lg:grid-cols-12 items-start mx-auto w-10/12 lg:w-full">
    <div class="lg:col-start-2 lg:col-end-4" id="filters">
      <h4 class="text-primary-color-dark uppercase font-bold lg:text-xl lg:mb-3">
        Filtros
      </h4>
      <!-- Date -->
      <div class="mb-4">
        <h5 class="bg-primary-color-dark text-color-white py-2 px-6">Año</h5>
        <div class="py-4 px-2 max-h-56 overflow-y-scroll">
          {{ range sort (uniq $years) "value" "desc" }}
          <label class="filter-label" for="filter-{{ . }}">
            <span>{{ . }}</span>
            <input type="checkbox" id="filter-{{ . }}" name="year" value="{{ . }}" />
            <span class="checkmark"></span>
          </label>
          {{ end }}
        </div>
      </div>
      <!-- Nivel -->
      <div class="mb-4">
        <h5 class="bg-primary-color-dark text-color-white py-2 px-6">Nivel</h5>
        <div class="py-4 px-2 max-h-56 overflow-y-scroll">
          {{ range (uniq $levels) }}
          <label class="filter-label">
            <span class="capitalize">{{ . | lower }}</span>
            <input type="checkbox" name="level" value="{{ . }}" />
            <span class="checkmark"></span>
          </label>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="lg:col-start-4 lg:col-end-12 m-auto lg:w-11/12">
      <div class="lg:flex lg:flex-col lg:items-end">
        <div class="mb-12">
          <span class="block uppercase text-primary-color-dark font-bold text-lg lg:text-xl mb-3">Ordernar por</span>
          <h5 class="bg-primary-color-dark text-color-white py-2 px-6" id="paginationScroll">
            Fecha de publicación
          </h5>
        </div>
      </div>
      <div class="results-container grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8 mb-16"></div>
      <div class="pagination text-center"></div>
    </div>
  </div>
</section>
<section class="py-12 lg:py-24">
  <div class="mx-auto w-10/12 lg:w-9/12">
    <div class="grid items-center lg:grid-cols-2 lg:gap-x-36">
      <div class="relative text-primary-color-dark text-center lg:text-left">
        <h2 class="text-3xl lg:text-4xl mb-4 lg:mb-5 font-black">Explora los datos</h2>
        <p class="mb-4 lg:mb-6 lg:text-xl">
          Conoce los datos relacionados con los resultados de las elecciones ordinarias de tipo nacional y local que se
          han realizado en Colombia desde 1958 hasta la fecha. Con esta herramienta podrás observar el comportamiento de
          la participación electoral a nivel nacional, departamental y local.
        </p>
        <a href="{{ relref . " datos-democracia/resultados-electorales/explora-los-datos.md" }}"
          class="btn btn--primary mb-3 lg:mb-0">Visor de datos</a>
        {{/* <img class="
            hidden
            absolute
            lg:-top-8 lg:-left-2
            xl:-top-8 xl:-left-8
            lg:block
          " src="/images/siscrimel/quienes-somos/icono.svg" alt="" /> */}}
      </div>
      <img src="/images/siscrimel/quienes-somos/explore-data-desktop.png" alt="" class="" />
    </div>
  </div>
</section>
<input type="hidden" name="data" id="data-resultados" value="{{ jsonify .Site.Data.resultados }}" />
{{ end }} {{ define "js" }} {{ $resultados := resources.Get
"js/api/resultados.js" | js.Build (dict "minify" true)}}
<script src="{{ $resultados.Permalink }}"></script>
{{ end }}