{{ define "main" }} {{ partial "nav-resultados-electorales" . }}
<div class="bg-bg-resultados-electorales-lg h-screen bg-cover bg-center">
  <div class="container">
    <div class="lg:pt-40">
      <h1 class="text-white uppercase lg:text-6xl font-bold lg:mb-6">
        Resultados electorales
      </h1>
      <p class="paragraph paragraph--white lg:w-6/12">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
        ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
</div>
<div class="text-center -mt-4 pb-16 lg:pt-8">
  <div class="container">
    <h2 class="heading-secondary heading-secondary--blue lg:mb-10">
      Descarga los datos
    </h2>
    <p class="paragraph lg:w-8/12 lg:m-auto">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
      wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
      lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
      iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
      illum dolore eu feugiat
    </p>
  </div>
</div>
<section class="lg:pt-12 lg:pb-20 bg-white">
  <div class="grid grid-cols-1 lg:grid-cols-12">
    <div class="lg:col-start-2 lg:col-end-4" id="filters">
      <h4
        class="text-primary-color-dark uppercase font-bold lg:text-xl lg:mb-3"
      >
        Filtros
      </h4>
      <!-- Date -->
      <div class="mb-4">
        <h5 class="bg-primary-color-dark text-color-white py-2 px-6">Año</h5>
        <!-- PARENT ELEMENT -->
        <div class="py-4 px-2 date-container"></div>
        <!-- PARENT ELEMENT END -->
      </div>
      <!-- Nivel -->
      <div class="mb-4">
        <h5 class="bg-primary-color-dark text-color-white py-2 px-6">Nivel</h5>
        <!-- PARENT ELEMENT -->
        <div class="py-4 px-2 nivel-container"></div>
        <!-- PARENT ELEMENT END -->
      </div>
      <!-- Tipo -->
      <div class="mb-4">
        <h5 class="bg-primary-color-dark text-color-white py-2 px-6">Tipo</h5>
        <!-- PARENT ELEMENT -->
        <div class="py-4 px-2 type-container"></div>
        <!-- PARENT ELEMENT END -->
      </div>
    </div>
    <div class="lg:col-start-4 lg:col-end-12 m-auto lg:w-11/12">
      <div class="lg:flex lg:flex-col lg:items-end">
        <div class="mb-12">
          <h5 class="bg-primary-color-dark text-color-white py-2 px-6">
            Fecha de publicación
          </h5>
        </div>
      </div>
      <!-- PARENT ELEMENT -->
      <div
        class="
          results-container
          grid grid-cols-1
          lg:grid-cols-2
          xl:grid-cols-3
          gap-8
        "
      >
        <!-- CHILDS ELEMENTS RESULTS -->
        <!-- <div class="result-item">
          <h3 class="result-title">Alcaldía Cartagena 2011</h3>
          <p class="result-year">
            Elecciones locales Año 2011, Alcaldía de Bolívar
          </p>
          <p class="result-excel">
            Formato disponible: <span class="font-bold">XLSX</span>
          </p>
          <div class="result-btn">
            <a href="#" class="btn btn--tertiary">Descargar</a>
          </div>
        </div> -->
      </div>
      <!-- PARENT ELEMENT END -->
    </div>
  </div>
</section>
{{ partial "explora-los-datos" . }}
<input
  type="hidden"
  name="data"
  id="data-resultados"
  value="{{ jsonify .Site.Data.resultados }}"
/>
{{ end }} {{ define "js" }} {{ $resultados := resources.Get
"js/api/resultados.js" | js.Build (dict "minify" true)}}
<script src="{{ $resultados.Permalink }}"></script>
{{ end }}
