{{ define "main" }} {{ partial "nav-resultados-electorales" . }}
<div class="bg-bg-resultados-electorales-lg h-screen bg-cover bg-center">
  <div class="container">
    <div class="lg:pt-40">
      <h1 class="text-white uppercase lg:text-6xl font-bold lg:mb-6">
        Resultados electorales
      </h1>
      <p class="paragraph paragraph--white lg:w-6/12">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
        ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
</div>
<div class="text-center -mt-4 pb-16 lg:pt-8">
  <div class="container">
    <h2 class="heading-secondary heading-secondary--blue lg:mb-10">
      Descarga los datos
    </h2>
    <p class="paragraph lg:w-8/12 lg:m-auto">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
      wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
      lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
      iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
      illum dolore eu feugiat
    </p>
  </div>
</div>
{{ end }}
