{{ define "main" }}
{{ partial "nav-datos-democracia" . }}
{{ partial "nav-mecanismos-participacion" . }}
<div class="bg-bg-banner-mecanismos-sm lg:bg-bg-banner-mecanismos-lg h-screen bg-cover bg-center relative">
    <div class="container">
        <div class="lg:pt-40">
            <h1 class="text-white uppercase lg:text-6xl font-black lg:mb-6">
                Mecanismos de <span class="block">Participación Ciudadana</span>
            </h1>
            <p class="paragraph paragraph--white lg:w-6/12">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet dolore magna aliquam erat volutpa Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut.
            </p>
        </div>
    </div>
    <img class="hidden lg:block lg:absolute lg:-bottom-12 object-cover w-full" src="/images/curva-abajo-arriba.svg"
        alt="" />
</div>
<div class="text-center pb-16 lg:pt-8 relative">
    <div class="container">
        <h2 class="
    mb-4 text-3xl font-black lg:text-4xl lg:mb-8 text-primary-color-dark
      ">
            Explora los datos
            <span class="font-normal block lg:text-3xl">de Mecanismos de Participación Ciudadana <span class="block">en
                    Colombia</span></span>
        </h2>
        <a href="#" class="
        bg-primary-color-dark
        uppercase
        font-bold
        color
        text-color-white
        py-3
        px-8
        text-sm
        rounded
      ">Como utilizar esta herramienta</a>
    </div>
</div>
<section class="h-screen w-screen overflow-x-auto lg:pb-20">
    <iframe class="w-full h-full" src="https://datasketch.shinyapps.io/app-datos-democracia/" frameborder="0"></iframe>
</section>
<section class="bg-metodologia-bg bg-cover bg-center lg:py-24">
    <div class="container text-center">
        <div class="lg:w-8/12 m-auto">
            <h2 class="text-color-white font-bold lg:text-5xl lg:mb-4">
                Conoce la Metodología
            </h2>
            <p class="
          m-auto
          text-color-white
          lg:w-10/12
          lg:text-xl
          lg:mb-8
        ">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl.
            </p>
            <a href="#" class="text-color-primary-dark bg-color-bg py-3 px-10 uppercase font-bold text-sm">Leer más</a>
        </div>
    </div>
</section>
<section class="lg:py-24" style="background-color: #EAEDF0;">
    <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-x-32 justify-items-stretch mx-auto lg:w-9/12">
        <div class="border-2 border-color-light lg:p-16 grid place-items-center relative">
            <h3 class="font-black text-xl lg:text-2xl text-center" style="color: #003057;">
                <span class="block font-normal">Explora los datos del</span>
                Sistema de información sobre Criminalidad Electoral
            </h3>
            <a href="#" class="py-2 px-6 bg-primary-color-dark text-white rounded text-md absolute -bottom-5">EXPLORAR
                LOS
                DATOS</a>
        </div>
        <div class="border-2 border-color-light lg:p-16 grid place-items-center relative">
            <h3 class="font-black text-xl lg:text-2xl text-center" style="color: #003057;">
                <span class="block font-normal">Explora los datos de</span>
                Resultados Electorales
            </h3>
            <a href="#" class="py-2 px-6 bg-primary-color-dark text-white rounded text-md absolute -bottom-5">EXPLORAR
                LOS
                DATOS</a>
        </div>
    </div>
</section>
<section class="">
    <div class="grid grid-cols-1 lg:grid-cols-2">
        <div class="bg-color-white lg:py-20 lg:px-40">
            <h2 class="text-primary-color-dark font-black lg:text-4xl lg:mb-8">
                Descarga los datos
            </h2>
            <p class="lg:mb-10 lg:text-xl">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                volutpat. Ut wisi enim ad minim veniam, quis nostrud.
            </p>
            <a href="#" class="
          text-color-white
          bg-primary-color-dark
          font-bold
          uppercase
          px-6
          py-2
        ">Leer Más</a>
        </div>
        <div class="lg:py-20 lg:px-40 bg-primary-color-dark text-white">
            <div class="invisible">
                <h2 class="text-2xl lg:text-3xl lg:mb-14 text-center">
                    Años más consultados
                </h2>
                <div class="grid grid-cols-2 gap-12 text-center">
                    <div class="
                text-3xl
                font-bold
                p-4
                lg:text-3xl
                border-2 border-primary-color-light
              ">2010</div>
                    <div class="
                text-3xl
                font-bold
                p-4
                lg:text-3xl
                border-2 border-primary-color-light
              ">2011</div>
                    <div class="
                text-3xl
                font-bold
                p-4
                lg:text-3xl
                border-2 border-primary-color-light
              ">2014</div>
                    <div class="
                text-3xl
                font-bold
                p-4
                lg:text-3xl
                border-2 border-primary-color-light
              ">2018</div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}