{{ define "main" }}
{{ partial "nav-datos-democracia" . }}
{{ partial "nav-mecanismos-participacion" . }}
<div
    class="bg-bg-banner-mecanismos-sm lg:bg-bg-banner-mecanismos-lg h-screen bg-cover bg-center relative text-center lg:text-left pt-52 lg:pt-0">
    <div class="mx-auto w-10/12 lg:w-9/12">
        <div class="lg:pt-40">
            <h1 class="text-white uppercase text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-black mb-6">
                Mecanismos de <span class="block">Participación Ciudadana</span>
            </h1>
            <p class="paragraph paragraph--white lg:w-6/12">
                A continuación, se presenta los resultados obtenidos de los mecanismos de participación ciudadana
                contemplados en el artículo 103 de la Constitución Política de Colombia tales como el plebiscito, el
                referendo, la consulta popular, el cabildo abierto, la iniciativa legislativa y la revocatoria del
                mandato.
            </p>
        </div>
    </div>
    <img class="hidden lg:block lg:absolute lg:-bottom-12 object-cover w-full" src="/images/curva-abajo-arriba.svg"
        alt="" />
</div>
<div class="text-center pt-12 pb-8 lg:pb-16 lg:pt-8 relative">
    <div class="container">
        <h2 class="
    mb-4 text-2xl lg:text-3xl font-black xl:text-4xl lg:mb-8 text-primary-color-dark
      ">
            Explora los datos
            <span class="font-normal block lg:text-3xl">de Mecanismos de Participación Ciudadana <span class="block">en
                    Colombia</span></span>
        </h2>
        <details class="mx-auto w-11/12 md:w-9/12 lg:w-8/12">
            <summary
                class="bg-primary-color-dark uppercase font-bold color text-color-white py-3 px-8 text-sm inline-block cursor-pointer mb-8">
                Como utilizar esta herramienta</summary>
            <p class="mb-8">
                Esta herramienta de visualización de datos para explorar la información relacionada con los Mecanismos
                de Participación realizados en Colombia, consiste en tres tipos de paneles. En el primer panel se
                encuentran todos los posibles controles de cambio y filtros de la información que se visualizará en el
                segundo panel, y en el tercer panel se podrá tener detalles de la información.
            </p>
            <p class="mb-8">
                En el primer panel es posible explorar la información por filtros de referendo, plebiscito, cabildo
                abierto, entre otros, y además realizar controles de cambios por fechas y por niveles territoriales.
            </p>
            <img class="mx-auto mb-8" src="/images/mecanismos-participacion/GIF 1.gif" alt="gif">
            <p class="mb-8">
                En el segundo panel se podrán visualizar los cambios que se realizan en el primer panel, se puede
                seleccionar el tipo de visualización deseada, incluso aquellas tablas que contienen los datos.
            </p>
            <img class="mx-auto mb-8" src="/images/mecanismos-participacion/GIF 2.gif" alt="gif">
            <p class="mb-8">
                Finalmente se podrán descargar las visualizaciones y los datos en distintos formatos, según se desee.
            </p>
            <img class="mx-auto mb-8" src="/images/mecanismos-participacion/GIF 3.gif" alt="gif">
            <p class="mb-8">
                El tercer panel permitirá que el usuario dé clic a algún dato dentro de la gráfica y obtener información
                de detalle de los datos tratados en la gráfica.
            </p>
            <img class="mx-auto mb-8" src="/images/mecanismos-participacion/GIF 4.gif" alt="gif">
        </details>
    </div>
</div>
<section class="h-screen w-screen overflow-x-auto lg:pb-20">
    <iframe class="w-full h-full" src="https://datasketch.shinyapps.io/siscrimel-mecanismos-app/"
        frameborder="0"></iframe>
</section>
<section class="bg-metodologia-bg bg-cover bg-center py-12 lg:py-24">
    <div class="mx-auto w-10/12 lg:w-9/12 text-center">
        <div class="lg:w-8/12 mx-auto">
            <h2 class="text-color-white font-bold text-2xl md:text-3xl lg:text-4xl xl:text-5xl mb-4">
                Conoce la Metodología
            </h2>
            <p class="
          mx-auto
          text-color-white
          lg:w-10/12
          lg:text-xl
          lg:mb-8
          mb-6
        ">
                Te explicamos el paso a paso en la definición y construcción de las variables que conforman el
                repositorio histórico de los mecanismos de participación ciudadana que se han realizado en Colombia
            </p>
            <a href="#" class="text-color-primary-dark bg-color-bg py-3 px-10 uppercase font-bold text-sm">Leer más</a>
        </div>
    </div>
</section>
<section class="py-12 lg:py-24" style="background-color: #EAEDF0;">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-10 lg:gap-x-32 justify-items-stretch mx-auto w-10/12 lg:w-9/12">
        <div class="border-2 border-color-light p-10 lg:p-16 grid place-items-center relative">
            <h3 class="font-black text-xl lg:text-2xl text-center" style="color: #003057;">
                <span class="block font-normal">Explora los datos del</span>
                Sistema de información sobre Criminalidad Electoral
            </h3>
            <a href="{{ relref . " datos-democracia/siscrimel/explora-los-datos.md" }}"
                class="py-2 px-6 bg-primary-color-dark text-white rounded text-md absolute -bottom-5">EXPLORAR
                LOS
                DATOS</a>
        </div>
        <div class="border-2 border-color-light p-10 lg:p-16 grid place-items-center relative">
            <h3 class="font-black text-xl lg:text-2xl text-center" style="color: #003057;">
                <span class="block font-normal">Explora los datos de</span>
                Resultados Electorales
            </h3>
            <a href="{{ relref . " datos-democracia/resultados-electorales/explora-los-datos.md" }}"
                class="py-2 px-6 bg-primary-color-dark text-white rounded text-md absolute -bottom-5">EXPLORAR
                LOS
                DATOS</a>
        </div>
    </div>
</section>
<section class="">
    <div class="grid grid-cols-1 lg:grid-cols-2">
        <div class="bg-color-white p-10 lg:py-20 lg:px-40 text-center lg:text-left">
            <h2 class="text-primary-color-dark font-black text-2xl lg:text-3xl xl:text-4xl mb-4 lg:mb-8">
                Descarga los datos
            </h2>
            <p class="mb-6 lg:mb-10 lg:text-xl">
                Descarga las bases de datos con la información sobre los mecanismos de participación ciudadana
                realizados en Colombia desde 1994 hasta la fecha
            </p>
            <a href="{{ relref . " datos-democracia/mecanismos-de-participacion/descarga-los-datos.md" }}" class="
          text-color-white
          bg-primary-color-dark
          font-bold
          uppercase
          px-6
          py-2
        ">Leer Más</a>
        </div>
        <div class="lg:py-20 lg:px-40 bg-primary-color-dark text-white">
            <div class="invisible">
                <h2 class="text-2xl lg:text-3xl lg:mb-14 text-center">
                    Años más consultados
                </h2>
                <div class="grid grid-cols-2 gap-12 text-center">
                    <div class="
                text-3xl
                font-bold
                p-4
                lg:text-3xl
                border-2 border-primary-color-light
              ">2010</div>
                    <div class="
                text-3xl
                font-bold
                p-4
                lg:text-3xl
                border-2 border-primary-color-light
              ">2011</div>
                    <div class="
                text-3xl
                font-bold
                p-4
                lg:text-3xl
                border-2 border-primary-color-light
              ">2014</div>
                    <div class="
                text-3xl
                font-bold
                p-4
                lg:text-3xl
                border-2 border-primary-color-light
              ">2018</div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}