{{ define "main" }} {{ partial "nav-siscrimel" . }}
<div
  class="
    relative
    bg-bg-banner-datos-sm
    h-screen
    bg-cover bg-center
    text-center
    py-24
    md:py-16
    lg:py-0
  "
>
  <div class="container">
    <div class="text-center lg:absolute lg:inset-y-1/4 lg:text-left">
      <h1
        class="
          text-color-white
          font-bold
          text-3xl
          mb-4
          md:text-4xl
          lg:mb-8 lg:text-5xl
          xl:text-6xl
        "
      >
        Explora los datos
      </h1>
      <p class="paragraph paragraph--white lg:w-6/12 xl:w-5/12">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat. Ut wisi enim ad minim veniam, quis
      </p>
    </div>
  </div>
</div>
<div class="text-center bg-color-white pb-16 lg:pt-8">
  <div class="container">
    <h2 class="heading-secondary heading-secondary--blue mb-4">
      Delitos e irregularidades <span>en Colombia</span>
    </h2>
    <a href="#" class="btn btn--primary">Como utilizar esta herramienta</a>
  </div>
</div>
<section class="py-8 lg:py-20">
  <div class="container">
    <div class="grid grid-cols-1 gap-y-4 lg:grid-cols-3 lg:gap-x-8">
      <div class="lg:p-8 bg-color-blue-dark">
        <img
          src="/images/siscrimel/criminalidad-electoral/siscrimel-lg.jpg"
          alt=""
        />
        <a
          class="
            block
            text-primary-color
            font-bold
            mt-4
            mb-2
            text-color-primary
            uppercase
            font-bold
            text-xl
          "
          href="#"
          >Siscrimel</a
        >
        <p class="paragrah paragraph--blue">¿Qué es SISCRIMEL?</p>
      </div>
      <div class="lg:p-8 bg-color-blue-dark">
        <img
          src="/images/siscrimel/criminalidad-electoral/datas-lg.jpg"
          alt=""
        />
        <a
          class="
            block
            text-primary-color
            font-bold
            mt-4
            mb-2
            text-color-primary
            uppercase
            font-bold
            text-xl
          "
          href="#"
          >Explora los datos</a
        >
        <p class="paragrah paragraph--blue">
          Conoce los datos de criminalidad electoral en Colombia
        </p>
      </div>
      <div class="lg:p-8 bg-color-blue-dark">
        <img
          src="/images/siscrimel/criminalidad-electoral/information-lg.jpg"
          alt=""
        />
        <a
          class="
            block
            text-primary-color
            font-bold
            mt-4
            mb-2
            text-color-primary
            uppercase
            font-bold
            text-xl
          "
          href="#"
          >Conoce los informes</a
        >
        <p class="paragrah paragraph--blue">
          Descarga los informes de SISCRIMEL
        </p>
      </div>
    </div>
  </div>
</section>
{{ end }}
