{{ define "main" }}
{{ partial "nav-datos-democracia" . }}
{{ partial "nav-resultados-electorales" . }}
<div class="bg-bg-resultados-electorales-lg h-screen bg-cover bg-center relative text-center lg:text-left pt-40 lg:pt-0">
  <div class="mx-auto w-10/12 lg:w-9/12">
    <div class="lg:pt-40">
      <h1 class="text-white uppercase text-4xl lg:text-5xl xl:text-6xl font-black mb-8 lg:mb-6">
        Resultados electorales
      </h1>
      <p class="paragraph paragraph--white lg:w-6/12">
        La Registraduría del siglo XXI pone a disposición de la ciudadanía, la academia y de las entidades del Estado el
        histórico de resultados electorales en Colombia. En esta sección se encuentran disponibles para descarga en
        formato .CSV los resultados de las elecciones a la Presidencia (primera y segunda vuelta), Congreso (Cámara de
        Representantes y Senado), Asamblea, Gobernación, Parlamento Andino, Alcaldía y Concejo.
      </p>
    </div>
  </div>
  <img class="hidden lg:block lg:absolute lg:-bottom-12 object-cover w-full" src="/images/curva-abajo-arriba.svg"
    alt="" />
</div>
<div class="text-center pb-16 lg:pt-8 relative">
  <div class="mx-auto w-10/12 lg:w-9/12">
    <h2 class="
    mb-4 text-3xl font-black lg:text-4xl lg:mb-8 text-primary-color-dark
      ">
      Explora los datos
      <span class="font-normal block lg:text-3xl">de Resultados Electorales en Colombia</span>
    </h2>
    <a href="#" class="
        bg-primary-color-dark
        uppercase
        font-bold
        color
        text-color-white
        py-3
        px-8
        text-sm
        rounded
      ">Como utilizar esta herramienta</a>
  </div>
</div>
<section class="h-screen w-screen overflow-x-auto lg:pb-20">
  <iframe class="w-full h-full" src="https://datasketch.shinyapps.io/eleccionesApp/" frameborder="0"></iframe>
</section>
<section class="bg-metodologia-bg bg-cover bg-center py-12 lg:py-24">
  <div class="mx-auto w-10/12 lg:w-9/12 text-center">
    <div class="lg:w-8/12 m-auto">
      <h2 class="text-color-white font-bold text-3xl lg:text-4xl xl:text-5xl mb-4">
        Conoce la Metodología
      </h2>
      <p class="
          mx-auto
          text-color-white
          lg:w-10/12
          lg:text-xl
          mb-8
        ">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
        ullamcorper suscipit lobortis nisl.
      </p>
      <a href="#" class="text-color-primary-dark bg-color-bg py-3 px-10 uppercase font-bold text-sm">Leer más</a>
    </div>
  </div>
</section>
<section class="py-12 lg:py-24" style="background-color: #EAEDF0;">
  <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-x-32 gap-y-10 justify-items-stretch mx-auto w-10/12 lg:w-9/12">
    <div class="border-2 border-color-light p-10 lg:p-16 grid place-items-center relative">
      <h3 class="font-black text-xl lg:text-2xl text-center" style="color: #003057;">
        <span class="block font-normal">Explora los datos del</span>
        Sistema de información sobre Criminalidad Electoral
      </h3>
      <a href="{{ relref . " datos-democracia/siscrimel/explora-los-datos.md" }}" class="py-2 px-6 bg-primary-color-dark text-white rounded text-md absolute -bottom-5">EXPLORAR LOS
        DATOS</a>
    </div>
    <div class="border-2 border-color-light p-10 lg:p-16 grid place-items-center relative">
      <h3 class="font-black text-xl lg:text-2xl text-center" style="color: #003057;">
        <span class="block font-normal">Explora los datos de</span>
        Mecanismos de Participación Ciudadana
      </h3>
      <a href="{{ relref . "datos-democracia/mecanismos-de-participacion/explora-los-datos.md" }}" class="py-2 px-6 bg-primary-color-dark text-white rounded text-md absolute -bottom-5">EXPLORAR LOS
        DATOS</a>
    </div>
  </div>
</section>
<section class="">
  <div class="grid grid-cols-1 lg:grid-cols-2">
    <div class="bg-color-white p-10 text-center lg:text-left lg:py-20 lg:px-40">
      <h2 class="text-primary-color-dark font-black text-2xl lg:text-3xl xl:text-4xl mb-4 lg:mb-8">
        Descarga los datos
      </h2>
      <p class="mb-6 lg:mb-10 lg:text-xl">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat. Ut wisi enim ad minim veniam, quis nostrud.
      </p>
      <a href="{{ relref . "datos-democracia/resultados-electorales/descarga-los-datos.md" }}" class="
          text-color-white
          bg-primary-color-dark
          font-bold
          uppercase
          px-6
          py-2
        ">Leer Más</a>
    </div>
    <div class="p-10 lg:py-20 lg:px-40 bg-primary-color-dark text-white">
      <h2 class="text-2xl lg:text-3xl mb-8 lg:mb-14 text-center">
        Años más consultados
      </h2>
      <div class="grid grid-cols-2 gap-6 lg:gap-12 text-center">
        <div class="
            text-2xl
            font-bold
            p-4
            lg:text-3xl
            border-2 border-primary-color-light
          ">2010</div>
        <div class="
            text-2xl
            font-bold
            p-4
            lg:text-3xl
            border-2 border-primary-color-light
          ">2011</div>
        <div class="
            text-2xl
            font-bold
            p-4
            lg:text-3xl
            border-2 border-primary-color-light
          ">2014</div>
        <div class="
            text-2xl
            font-bold
            p-4
            lg:text-3xl
            border-2 border-primary-color-light
          ">2018</div>
      </div>
    </div>
  </div>
</section>
{{ end }}