{{ define "main" }} {{ partial "nav-siscrimel" . }}
<div
  class="
    relative
    bg-bg-banner-datos-sm
    h-screen
    overflow-hidden
    bg-cover bg-center
    text-center
    py-24
    md:py-16
    lg:py-0
  "
>
  <div class="container">
    <div class="text-center lg:absolute lg:inset-y-1/4 lg:text-left">
      <h1
        class="
          text-color-white
          font-bold
          text-3xl
          mb-4
          md:text-4xl
          lg:mb-8 lg:text-5xl
          xl:text-6xl
        "
      >
        Explora los datos
      </h1>
      <p class="paragraph paragraph--white lg:w-6/12 xl:w-5/12">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat. Ut wisi enim ad minim veniam, quis
      </p>
    </div>
  </div>
</div>
<div class="text-center bg-color-white pb-16 lg:pt-8">
  <div class="container">
    <h2 class="heading-secondary heading-secondary--blue mb-4">
      Delitos e irregularidades <span>en Colombia</span>
    </h2>
    <a href="#" class="btn btn--primary">Como utilizar esta herramienta</a>
  </div>
</div>
<section class="h-screen w-screen overflow-x-auto">
  <iframe
    class="w-full h-full"
    src="https://datasketch.shinyapps.io/app-datos-democracia/"
    frameborder="0"
  ></iframe>
</section>
<section class="bg-metodologia-bg bg-cover bg-center py-8 lg:py-24">
  <div class="container text-center">
    <div class="lg:w-8/12 m-auto">
      <h2 class="heading-secondary heading-secondary--white mb-4 lg:mb-8">
        Conoce la metodología
      </h2>
      <p
        class="
          paragraph paragraph--white
          mb-4
          lg:mb-8 lg:w-10/12
          m-auto
          lg:text-xl
        "
      >
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
        ullamcorper suscipit lobortis nisl.
      </p>
      <a href="#" class="btn btn--secondary">Leer más</a>
    </div>
  </div>
</section>
{{ partial "footer-siscrimel" . }} {{ end }}
