{{ define "main" }}
{{ partial "nav-datos-democracia" . }}
{{ partial "nav-siscrimel" . }}
<div class="
    bg-bg-banner-datos-sm
    h-screen
    bg-cover bg-center
    relative
    pt-56
    lg:pt-0
    text-center lg:text-left
  ">
  <div class="mx-auto w-10/12 lg:w-9/12">
    <div class="lg:pt-40">
      <h1 class="
        text-white 
         text-4xl
         lg:text-5xl
         xl:text-6xl
         font-black
         mb-4
         lg:mb-6
        ">
        Explora los Datos
      </h1>
      <p class="text-lg lg:text-xl text-white lg:w-7/12">
        Con esta herramienta puedes visualizar los datos de los delitos e irregularidades electorales en Colombia a
        nivel municipal y departamental. También puedes observar la interacción de los delitos e irregularidades con
        otras variables económicas, sociales y políticas que contribuyen a comprender el fenómeno de la criminalidad
        electoral.
      </p>
    </div>
  </div>
  <img class="hidden lg:block lg:absolute lg:-bottom-12 object-cover w-full" src="/images/curva-abajo-arriba.svg"
    alt="">
</div>
<div class="text-center bg-color-white pb-16 lg:pt-8 relative">
  <div class="mx-auto w-10/12 lg:w-9/12">
    <h2 class="text-primary-color-dark font-bold text-3xl lg:text-4xl xl:text-5xl mx-auto lg:w-6/12 mb-4 lg:mb-6">
      Delitos e irregularidades <span class="font-normal lg:text-4xl">en Colombia</span>
    </h2>
    <a href="#" class="bg-primary-color-dark uppercase font-bold color text-color-white py-3 px-8 text-sm">Como utilizar
      esta herramienta</a>
  </div>
</div>
<section class="h-screen w-screen overflow-x-auto lg:pb-20">
  <iframe class="w-full h-full" src="https://datasketch.shinyapps.io/app-datos-democracia/" frameborder="0"></iframe>
</section>
<section class="bg-metodologia-bg bg-cover bg-center py-12 lg:py-24">
  <div class="mx-auto w-10/12 lg:w-9/12 text-center">
    <div class="lg:w-8/12 lg:mx-auto">
      <h2 class="text-color-white font-bold text-3xl lg:text-4xl xl:text-5xl mb-4 lg:mb-6">
        Conoce la Metodología
      </h2>
      <p class="
          mx-auto
          text-color-white
          mb-6
          lg:w-10/12
          lg:text-xl
          lg:mb-8
        ">
        Te explicamos el paso a paso en la definición y construcción de las variables que conforman el sistema de
        información sobre la criminalidad electoral.
      </p>
      <a href="#" class="text-color-primary-dark bg-color-bg py-3 px-10 uppercase font-bold text-sm">Leer más</a>
    </div>
  </div>
</section>
<section class="py-12 lg:py-24" style="background-color: #EAEDF0;">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-10 lg:gap-x-32 justify-items-stretch mx-auto w-10/12 lg:w-9/12">
    <div class="border-2 border-color-light p-8 lg:p-16 grid place-items-center relative">
      <h3 class="font-black text-xl lg:text-2xl text-center" style="color: #003057;">
        <span class="block font-normal">Explora los datos de</span>
        Resultados electorales
      </h3>
      <a href="{{ relref . " datos-democracia/resultados-electorales/explora-los-datos.md" }}"
        class="py-2 px-6 bg-primary-color-dark text-white rounded text-md absolute -bottom-5">EXPLORAR LOS
        DATOS</a>
    </div>
    <div class="border-2 border-color-light p-8 lg:p-16 grid place-items-center relative">
      <h3 class="font-black text-xl lg:text-2xl text-center" style="color: #003057;">
        <span class="block font-normal">Explora los datos de</span>
        Mecanismos de Participación Ciudadana
      </h3>
      <a href="{{ relref . " datos-democracia/mecanismos-de-participacion/explora-los-datos.md" }}"
        class="py-2 px-6 bg-primary-color-dark text-white rounded text-md absolute -bottom-5">EXPLORAR LOS
        DATOS</a>
    </div>
  </div>
</section>
<section class="py-12 lg:py-20">
  <div class="grid grid-cols-1 gap-y-4 lg:grid-cols-3 lg:gap-x-8 w-10/12 lg:w-11/12 mx-auto">
    <div class="p-10 lg:px-10 lg:py-8 rounded-3xl bg-bg-blue-dark bg-cover bg-center">
      <img src="/images/siscrimel/criminalidad-electoral/siscrimel-lg.jpg" alt="" />
      <a class="
          block
          text-primary-color
          mt-4
          mb-2
          text-color-primary
          font-bold
          text-xl
        " href="{{ relref . " datos-democracia/siscrimel/que-es-siscrimel.md" }}">SISCRIMEL</a>
      <p class="text-xl">¿Qué es SISCRIMEL?</p>
    </div>
    <div class="p-10 lg:px-10 lg:py-8 rounded-3xl bg-bg-blue-dark bg-cover bg-center">
      <img src="/images/siscrimel/criminalidad-electoral/corruption.jpg" alt="" />
      <a class="
          block
          text-primary-color
          mt-4
          mb-2
          text-color-primary
          font-bold
          text-xl
        " href="{{ relref . " datos-democracia/siscrimel/sobre-la-criminalidad-electoral.md" }}">Criminalidad
        electoral</a>
      <p class="text-xl">
        ¿Qué es la criminalidad electoral?
      </p>
    </div>
    <div class="p-10 lg:px-10 lg:py-8 rounded-3xl bg-bg-blue-dark bg-cover bg-center">
      <img src="/images/siscrimel/criminalidad-electoral/information-lg.jpg" alt="" />
      <a class="
          block
          text-primary-color
          mt-4
          mb-2
          text-color-primary
          font-bold
          text-xl
        " href="{{ relref . " datos-democracia/siscrimel/conoce-los-informes.md" }}">Conoce los informes</a>
      <p class="text-xl">
        Descarga los informes de SISCRIMEL
      </p>
    </div>
  </div>
</section>
{{ end }}