{{ define "main" }}
<div class="relative">
    <img class="absolute top-0 left-0 object-cover object-center" src="/images/novedades/banner-novedades@2x.png"
        alt="banner contactanos">
</div>
<div class="pt-44 lg:pt-64 xl:pt-80 pb-20 lg:pb-24 xl:pb-40">
    <div class="text-center w-10/12 lg:w-5/12 xl:w-4/12 mx-auto">
        <h2 class="text-primary-color-dark font-black text-5xl lg:text-6xl mb-4 lg:mb-6">Novedades</h2>
        <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmodtempor invidunt u labore
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duodolores et ea rebum. Stet
            clita kasd gubergren.
        </p>
    </div>
</div>
<section class="bg-primary-color-dark py-10 lg:py-14 xl:py-16">
    <div class="text-center text-white w-10/12 lg:w-5/12 xl:w-4/12 mx-auto mb-6 lg:mb-10">
        <h2 class="font-black text-3xl lg:text-4xl mb-4 lg:mb-6">Cápsula informativa</h2>
        <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmodtempor invidunt u labore
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duodolores et ea rebum. Stet
            clita kasd gubergren.
        </p>
    </div>
    <div class="border-2 border-primary-color-light px-6 py-6 lg:px-8 mx-auto w-8/12">
        <span class="block mb-2 lg:mb-4 text-primary-color-light text-lg lg:text-xl font-bold">Esta semana</span>
        <img class="mb-2 lg:mb-4" src="/images/novedades/novedades-video@2x.png" alt="Video novedades">
        <p class="text-white italic">Fecha de publicación: <span class="font-bold">Marzo 15 del 2021</span></p>
    </div>
</section>
{{ end }}