{{ define "main" }} {{ partial "nav-siscrimel" . }}
<section
  class="py-8 px-4 md:py-12 lg:py-16 lg:pb-0 xl:py-20 xl:pb-0 m-auto lg:w-9/12"
>
  <h2
    class="
      text-primary-color-dark text-center
      font-bold
      lg:text-5xl lg:mb-16
    "
  >
    Preguntas frecuentes
  </h2>
  <div class="bg-bg-blue-dark bg-cover bg-center lg:py-10 lg:px-20 lg:mb-6">
    <a href="#" class="block mb-3 text-primary-color font-bold lg:text-2xl">¿Qué son los Datos Abiertos y por qué son importantes?</a>
    <p class="lg:mb-6">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmodtempor invidunt u labore dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duodolores et ea rebum. Stet clita kasd gubergren, no ea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor…</p>
    <p class=" italic">última actualización: <span class="font-bold">Julio 14 del 2021</span></p>
  </div>
  <div class="bg-bg-blue-dark bg-cover bg-center lg:py-10 lg:px-20 lg:mb-6">
    <a href="#" class="block mb-3 text-primary-color font-bold lg:text-2xl">¿Qué son los Datos Abiertos y por qué son importantes?</a>
    <p class="lg:mb-6">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmodtempor invidunt u labore dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duodolores et ea rebum. Stet clita kasd gubergren, no ea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor…</p>
    <p class=" italic">última actualización: <span class="font-bold">Julio 14 del 2021</span></p>
  </div>
  <div class="bg-bg-blue-dark bg-cover bg-center lg:py-10 lg:px-20 lg:mb-6">
    <a href="#" class="block mb-3 text-primary-color font-bold lg:text-2xl">¿Qué son los Datos Abiertos y por qué son importantes?</a>
    <p class="lg:mb-6">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmodtempor invidunt u labore dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duodolores et ea rebum. Stet clita kasd gubergren, no ea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor…</p>
    <p class=" italic">última actualización: <span class="font-bold">Julio 14 del 2021</span></p>
  </div>
  <div class="bg-bg-blue-dark bg-cover bg-center lg:py-10 lg:px-20 lg:mb-6">
    <a href="#" class="block mb-3 text-primary-color font-bold lg:text-2xl">¿Qué son los Datos Abiertos y por qué son importantes?</a>
    <p class="lg:mb-6">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmodtempor invidunt u labore dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duodolores et ea rebum. Stet clita kasd gubergren, no ea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor…</p>
    <p class=" italic">última actualización: <span class="font-bold">Julio 14 del 2021</span></p>
  </div>
</section>
<section class="lg:py-20">
  <div class="grid grid-cols-1 gap-y-4 lg:grid-cols-3 lg:gap-x-8 lg:w-11/12 m-auto">
    <div class="lg:px-10 lg:py-8 rounded-3xl bg-bg-blue-dark bg-cover bg-center">
      <img
        src="/images/siscrimel/criminalidad-electoral/siscrimel-lg.jpg"
        alt=""
      />
      <a
        class="
          block
          text-primary-color
          font-bold
          mt-4
          mb-2
          text-color-primary
          font-bold
          text-xl
        "
        href="{{ relref . "siscrimel/quienes-somos.md" }}"
        >SISCRIMEL</a
      >
      <p class="text-xl">¿Qué es SISCRIMEL?</p>
    </div>
    <div class="lg:px-10 lg:py-8 rounded-3xl bg-bg-blue-dark bg-cover bg-center">
      <img
        src="/images/siscrimel/criminalidad-electoral/corruption.jpg"
        alt=""
      />
      <a
        class="
          block
          text-primary-color
          font-bold
          mt-4
          mb-2
          text-color-primary
          font-bold
          text-xl
        "
        href="{{ relref . "siscrimel/criminalidad-electoral.md" }}"
        >Criminalidad electoral</a
      >
      <p class="text-xl">
        ¿Qué es la criminalidad electoral?
      </p>
    </div>
    <div class="lg:px-10 lg:py-8 rounded-3xl bg-bg-blue-dark bg-cover bg-center">
      <img
        src="/images/siscrimel/criminalidad-electoral/information-lg.jpg"
        alt=""
      />
      <a
        class="
          block
          text-primary-color
          font-bold
          mt-4
          mb-2
          text-color-primary
          font-bold
          text-xl
        "
        href="{{ relref . "biblioteca-de-recursos.md" }}"
        >Conoce los informes</a
      >
      <p class="text-xl">
        Descarga los informes de SISCRIMEL
      </p>
    </div>
  </div>
</section>
{{ end }}

