{{ define "main" }} {{ partial "nav-siscrimel" . }}
<section
  class="py-8 px-4 md:py-12 lg:py-16 lg:pb-0 xl:py-20 xl:pb-0 m-auto lg:w-9/12"
>
  <h2
    class="
      text-3xl text-primary-color-dark text-center
      font-bold
      mb-4
      lg:text-4xl lg:mb-6
      xl:text-5xl xl:mb-8
    "
  >
    Preguntas frecuentes
  </h2>
  <div class="">
    <div class="rounded-xl text-primary-color py-4 sm:p-6 lg:p-8 xl:p-10">
      <h3 class="text-xl xl:text-2xl font-bold mb-2">
        ¿Qué son los datos abiertos y por que son importantes?
      </h3>
      <p class="my-2 xl:my-6 font-light text-base">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmodtempor invidunt u labore dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duodolores et ea rebum. Stet
        clita kasd gubergren, no ea takimata sanctus est Lorem ipsum dolor sit
        amet. Lorem ipsum dolor…
      </p>
      <p class="italic">
        Fecha de publicación: <span class="font-bold">Julio 14 del 2021</span>
      </p>
    </div>
  </div>
  <div class="">
    <div class="rounded-xl text-primary-color py-4 sm:p-6 lg:p-8 xl:p-10">
      <h3 class="text-xl xl:text-2xl font-bold mb-2">
        ¿Qué son los datos abiertos y por que son importantes?
      </h3>
      <p class="my-2 xl:my-6 font-light text-base">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmodtempor invidunt u labore dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duodolores et ea rebum. Stet
        clita kasd gubergren, no ea takimata sanctus est Lorem ipsum dolor sit
        amet. Lorem ipsum dolor…
      </p>
      <p class="italic">
        Fecha de publicación: <span class="font-bold">Julio 14 del 2021</span>
      </p>
    </div>
  </div>
  <div class="">
    <div class="rounded-xl text-primary-color py-4 sm:p-6 lg:p-8 xl:p-10">
      <h3 class="text-xl xl:text-2xl font-bold mb-2">
        ¿Qué son los datos abiertos y por que son importantes?
      </h3>
      <p class="my-2 xl:my-6 font-light text-base">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmodtempor invidunt u labore dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duodolores et ea rebum. Stet
        clita kasd gubergren, no ea takimata sanctus est Lorem ipsum dolor sit
        amet. Lorem ipsum dolor…
      </p>
      <p class="italic">
        Fecha de publicación: <span class="font-bold">Julio 14 del 2021</span>
      </p>
    </div>
  </div>
  <div class="">
    <div class="rounded-xl text-primary-color py-4 sm:p-6 lg:p-8 xl:p-10">
      <h3 class="text-xl xl:text-2xl font-bold mb-2">
        ¿Qué son los datos abiertos y por que son importantes?
      </h3>
      <p class="my-2 xl:my-6 font-light text-base">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmodtempor invidunt u labore dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duodolores et ea rebum. Stet
        clita kasd gubergren, no ea takimata sanctus est Lorem ipsum dolor sit
        amet. Lorem ipsum dolor…
      </p>
      <p class="italic">
        Fecha de publicación: <span class="font-bold">Julio 14 del 2021</span>
      </p>
    </div>
  </div>
</section>
{{ partial "footer-siscrimel" . }} {{ end }}
