{{ define "main" }}
{{ partial "nav-datos-democracia" . }}
{{ partial "nav-siscrimel" . }}
<div class="
    relative
    bg-cover bg-center
    text-color-white
    h-screen
    bg-quienes-somos-bg
    overflow-hidden
    text-center lg:text-left
    pt-56
    lg:pt-0
  ">
  <div class="container">
    <div class="lg:pt-40">
      <h1 class="text-4xl lg:text-5xl xl:text-6xl uppercase font-black">
        Siscrimel
        <span class="block normal-case font-normal text-2xl lg:text-3xl">Sistema de información</span>
        <span class="block normal-case font-normal text-2xl lg:text-3xl">sobre Criminalidad Electoral</span>
      </h1>
    </div>
  </div>
</div>
<div class="-mt-24 pb-10 lg:mt-0 lg:pt-16 lg:pb-28">
  <div class="mx-auto w-10/12 lg:w-9/12">
    <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-x-28 items-center text-center lg:text-left">
      <h2 class=" mb-4 lg:mb-0 text-primary-color-dark text-2xl lg:text-3xl">
        ¿Qué es el
        <span class="block font-black text-3xl lg:text-4xl">Sistema de</span>
        <span class="block font-black text-3xl lg:text-4xl">Información sobre</span>
        <span class="block font-black text-3xl lg:text-4xl">Criminalidad Electoral?</span>
      </h2>
      <p class="text-lg lg:text-xl">
        Este sistema busca contribuir al entendimiento del fenómeno de la criminalidad electoral a partir del
        comportamiento de los delitos y las irregularidades contra los mecanismos de participación democrática y su
        relación con factores contextuales como la violencia social y política, las economías ilegales, la pobreza o el
        uso de los recursos públicos, entre otros factores.
      </p>
    </div>
  </div>
</div>
<section class="bg-cover bg-center py-12 lg:py-24 bg-delitos-bg">
  <div class="mx-auto w-10/12 lg:w-9/12">
    <div class="grid lg:grid-cols-2 lg:gap-x-32 text-center gap-y-10">
      <div class="">
        <h3 class="lg:text-4xl text-color-white lg:mb-8">Delito Electoral</h3>
        <p class="mb-10 text-color-white">
          Son aquellos delitos contemplados en el Código de Procedimiento Penal (Ley 906 de 2004) en su capítulo XIV
          denominado “Delitos contra mecanismos de participación democrática”, definidos en los artículos 386 a 396C y
          modificados por la Ley 1142 de 2007 y la Ley 1864 de 2017.
        </p>
      </div>
      <div class="">
        <h3 class="lg:text-4xl text-color-white lg:mb-8">
          Irregularidad electoral
        </h3>
        <p class="mb-10 text-color-white">
          Se entiende por irregularidades las conductas asociadas a las prohibiciones, inhabilidades y limitaciones de
          los funcionarios públicos para intervenir o participar en política y que afecten la transparencia del proceso
          electoral, contempladas en el derecho disciplinario, la Constitución Política y demás normas concomitantes en
          la materia.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="py-12 lg:py-24">
  <div class="mx-auto w-10/12 lg:w-9/12">
    <div class="grid items-center lg:grid-cols-2 lg:gap-x-36">
      <div class="relative text-primary-color-dark text-center lg:text-left">
        <h2 class="text-3xl lg:text-4xl mb-4 lg:mb-5 font-black">Explora los datos</h2>
        <p class="mb-4 lg:mb-6 lg:text-xl">
          Conoce los datos relacionados con la criminalidad electoral en Colombia a través de nuestra herramienta de
          visualización.
        </p>
        <p class="mb-4 lg:mb-6 lg:text-xl">
          Con esta herramienta podrás observar el comportamiento de los delitos e irregularidades electorales a nivel
          departamental y municipal en Colombia. Al mismo tiempo, podrás visualizar el comportamiento de la criminalidad
          electoral junto a factores contextuales como la violencia social y política, las economías ilegales, la
          pobreza o el uso de los recursos públicos.
        </p>
        <a href="{{ relref . " datos-democracia/siscrimel/explora-los-datos.md" }}"
          class="btn btn--primary mb-3 lg:mb-0">Visor de datos</a>
        {{/* <img class="
            hidden
            absolute
            lg:-top-8 lg:-left-2
            xl:-top-8 xl:-left-8
            lg:block
          " src="/images/siscrimel/quienes-somos/icono.svg" alt="" /> */}}
      </div>
      <img src="/images/siscrimel/quienes-somos/explore-data-desktop.png" alt="" class="" />
    </div>
  </div>
</section>
<section class="
    py-12
    lg:pt-14 lg:pb-20
    bg-primary-color
    lg-bg-variables-bg-lg
  ">
  <div class="mx-auto w-10/12 lg:w-9/12 text-center text-color-white">
    <h3 class="text-3xl lg:text-4xl mb-12 lg:mb-14 font-black">Variables</h3>
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 items-stretch gap-y-8 lg:gap-10 xl:gap-12">
      <div class="p-8 text-white" style="border: 1px solid #04F6E8;">
        <h4 class="text-xl lg:text-2xl mb-4">Criminalidad electoral</h4>
        <ul class="text-left">
          <li class="flex items-center opacity-80 mb-1">
            <img class="mr-3" src="/images/arrow-footer.svg" alt="footer icon" />
            <p>Delitos electorales</p>
          </li>
          <li class="flex items-center opacity-80">
            <img class="mr-3" src="/images/arrow-footer.svg" alt="footer icon" />
            <p>Irregularidades electorales</p>
          </li>
        </ul>
      </div>
      <div class="p-8 text-white" style="border: 1px solid #04F6E8;">
        <h4 class="text-xl lg:text-2xl mb-4">Conductas desviadas</h4>
        <ul class="text-left">
          <li class="flex items-center opacity-80 mb-1">
            <img class="mr-3" src="/images/arrow-footer.svg" alt="footer icon" />
            <p>Delitos contra la seguridad pública</p>
          </li>
          <li class="flex items-center opacity-80 mb-1">
            <img class="mr-3" src="/images/arrow-footer.svg" alt="footer icon" />
            <p>Tasa de homicidios</p>
          </li>
          <li class="flex items-center opacity-80 mb-1">
            <img class="mr-3" src="/images/arrow-footer.svg" alt="footer icon" />
            <p>Minería ilegal</p>
          </li>
          <li class="flex items-center opacity-80 mb-1">
            <img class="mr-3" src="/images/arrow-footer.svg" alt="footer icon" />
            <p>Cultivos de uso ilícito</p>
          </li>
          <li class="flex items-center opacity-80 text-left">
            <img class="mr-3" src="/images/arrow-footer.svg" alt="footer icon" />
            <p>Delitos contra los recursos naturales y el medio ambiente</p>
          </li>
        </ul>
      </div>
      <div class="p-8 text-white" style="border: 1px solid #04F6E8;">
        <h4 class="text-xl lg:text-2xl mb-4">Factores socioeconómicos</h4>
        <ul class="text-left">
          <li class="flex items-center opacity-80 mb-1">
            <img class="mr-3" src="/images/arrow-footer.svg" alt="footer icon" />
            <p>Régimen subsidiado</p>
          </li>
          <li class="flex items-center opacity-80 mb-1">
            <img class="mr-3" src="/images/arrow-footer.svg" alt="footer icon" />
            <p>Producto Interno Bruto</p>
          </li>
          <li class="flex items-center opacity-80 mb-1">
            <img class="mr-3" src="/images/arrow-footer.svg" alt="footer icon" />
            <p>Sistema General de Regalías</p>
          </li>
          <li class="flex items-center opacity-80">
            <img class="mr-3" src="/images/arrow-footer.svg" alt="footer icon" />
            <p>Sistema general de Participantes</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="py-12 lg:pt-20 lg:pb-16">
  <div class="container">
    <div class="text-primary-color-dark text-center lg:mb-10">
      <h2 class="font-black mb-5 text-3xl lg:text-4xl xl:text-5xl">Conoce los informes</h2>
      <p class="text-lg lg:text-xl xl:text-2xl">
        Informes más descargados
      </p>
    </div>
  </div>
  <div class="slider-wrapper mx-auto w-11/12 mb-8 lg:mb-12">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="
              bg-color-white
              py-10
              pl-12
              pr-8
              shadow-lg shadow-primary
              rounded-xl
            ">
            <h4 class="text-xl xl:text-2xl font-bold mb-2">Nombre del informe</h4>
            <p class="mb-2 lg:mb-4 xl:mb-6 italic uppercase">Cedae</p>
            <p class="mb-2 xl:mb-4">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero,
              quidem! Rerum dolorem fugit atque deserunt id temporibus? Maiores
              amet reprehenderit labore exercitationem consequuntur, culpa nihil
              expedita maxime aliquid velit iste.
            </p>
            <p class="italic mb-3 lg:mb-4 xl:mb-6">
              Fecha de publicación:
              <span class="font-bold">Julio 14 del 2021</span>
            </p>
            <a href="#" class="btn btn--tertiary">Ver informe</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="
              bg-color-white
              py-10
              pl-12
              pr-8
              shadow-lg shadow-primary
              rounded-xl
            ">
            <h4 class="text-xl xl:text-2xl font-bold mb-2">Nombre del informe</h4>
            <p class="mb-2 lg:mb-4 xl:mb-6 italic uppercase">Cedae</p>
            <p class="mb-2 xl:mb-4">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero,
              quidem! Rerum dolorem fugit atque deserunt id temporibus? Maiores
              amet reprehenderit labore exercitationem consequuntur, culpa nihil
              expedita maxime aliquid velit iste.
            </p>
            <p class="italic mb-3 lg:mb-4 xl:mb-6">
              Fecha de publicación:
              <span class="font-bold">Julio 14 del 2021</span>
            </p>
            <a href="#" class="btn btn--tertiary">Ver informe</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="
              bg-color-white
              py-10
              pl-12
              pr-8
              shadow-lg shadow-primary
              rounded-xl
            ">
            <h4 class="text-xl xl:text-2xl font-bold mb-2">Nombre del informe</h4>
            <p class="mb-2 lg:mb-4 xl:mb-6 italic uppercase">Cedae</p>
            <p class="mb-2 xl:mb-4">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero,
              quidem! Rerum dolorem fugit atque deserunt id temporibus? Maiores
              amet reprehenderit labore exercitationem consequuntur, culpa nihil
              expedita maxime aliquid velit iste.
            </p>
            <p class="italic mb-3 lg:mb-4 xl:mb-6">
              Fecha de publicación:
              <span class="font-bold">Julio 14 del 2021</span>
            </p>
            <a href="#" class="btn btn--tertiary">Ver informe</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="
              bg-color-white
              py-10
              pl-12
              pr-8
              shadow-lg shadow-primary
              rounded-xl
            ">
            <h4 class="text-xl xl:text-2xl font-bold mb-2">Nombre del informe</h4>
            <p class="mb-2 lg:mb-4 xl:mb-6 italic uppercase">Cedae</p>
            <p class="mb-2 xl:mb-4">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero,
              quidem! Rerum dolorem fugit atque deserunt id temporibus? Maiores
              amet reprehenderit labore exercitationem consequuntur, culpa nihil
              expedita maxime aliquid velit iste.
            </p>
            <p class="italic mb-3 lg:mb-4 xl:mb-6">
              Fecha de publicación:
              <span class="font-bold">Julio 14 del 2021</span>
            </p>
            <a href="#" class="btn btn--tertiary">Ver informe</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="
              bg-color-white
              py-10
              pl-12
              pr-8
              shadow-lg shadow-primary
              rounded-xl
            ">
            <h4 class="text-xl xl:text-2xl font-bold mb-2">Nombre del informe</h4>
            <p class="mb-2 lg:mb-4 xl:mb-6 italic uppercase">Cedae</p>
            <p class="mb-2 xl:mb-4">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero,
              quidem! Rerum dolorem fugit atque deserunt id temporibus? Maiores
              amet reprehenderit labore exercitationem consequuntur, culpa nihil
              expedita maxime aliquid velit iste.
            </p>
            <p class="italic mb-3 lg:mb-4 xl:mb-6">
              Fecha de publicación:
              <span class="font-bold">Julio 14 del 2021</span>
            </p>
            <a href="#" class="btn btn--tertiary">Ver informe</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="
              bg-color-white
              py-10
              pl-12
              pr-8
              shadow-lg shadow-primary
              rounded-xl
            ">
            <h4 class="text-xl xl:text-2xl font-bold mb-2">Nombre del informe</h4>
            <p class="mb-2 lg:mb-4 xl:mb-6 italic uppercase">Cedae</p>
            <p class="mb-2 xl:mb-4">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero,
              quidem! Rerum dolorem fugit atque deserunt id temporibus? Maiores
              amet reprehenderit labore exercitationem consequuntur, culpa nihil
              expedita maxime aliquid velit iste.
            </p>
            <p class="italic mb-3 lg:mb-4 xl:mb-6">
              Fecha de publicación:
              <span class="font-bold">Julio 14 del 2021</span>
            </p>
            <a href="#" class="btn btn--tertiary">Ver informe</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="
              bg-color-white
              py-10
              pl-12
              pr-8
              shadow-lg shadow-primary
              rounded-xl
            ">
            <h4 class="text-xl xl:text-2xl font-bold mb-2">Nombre del informe</h4>
            <p class="mb-2 lg:mb-4 xl:mb-6 italic uppercase">Cedae</p>
            <p class="mb-2 xl:mb-4">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero,
              quidem! Rerum dolorem fugit atque deserunt id temporibus? Maiores
              amet reprehenderit labore exercitationem consequuntur, culpa nihil
              expedita maxime aliquid velit iste.
            </p>
            <p class="italic mb-3 lg:mb-4 xl:mb-6">
              Fecha de publicación:
              <span class="font-bold">Julio 14 del 2021</span>
            </p>
            <a href="#" class="btn btn--tertiary">Ver informe</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="
              bg-color-white
              py-10
              pl-12
              pr-8
              shadow-lg shadow-primary
              rounded-xl
            ">
            <h4 class="text-xl xl:text-2xl font-bold mb-2">Nombre del informe</h4>
            <p class="mb-2 lg:mb-4 xl:mb-6 italic uppercase">Cedae</p>
            <p class="mb-2 xl:mb-4">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero,
              quidem! Rerum dolorem fugit atque deserunt id temporibus? Maiores
              amet reprehenderit labore exercitationem consequuntur, culpa nihil
              expedita maxime aliquid velit iste.
            </p>
            <p class="italic mb-3 lg:mb-4 xl:mb-6">
              Fecha de publicación:
              <span class="font-bold">Julio 14 del 2021</span>
            </p>
            <a href="#" class="btn btn--tertiary">Ver informe</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="
              bg-color-white
              py-10
              pl-12
              pr-8
              shadow-lg shadow-primary
              rounded-xl
            ">
            <h4 class="text-xl xl:text-2xl font-bold mb-2">Nombre del informe</h4>
            <p class="mb-2 lg:mb-4 xl:mb-6 italic uppercase">Cedae</p>
            <p class="mb-2 xl:mb-4">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero,
              quidem! Rerum dolorem fugit atque deserunt id temporibus? Maiores
              amet reprehenderit labore exercitationem consequuntur, culpa nihil
              expedita maxime aliquid velit iste.
            </p>
            <p class="italic mb-3 lg:mb-4 xl:mb-6">
              Fecha de publicación:
              <span class="font-bold">Julio 14 del 2021</span>
            </p>
            <a href="#" class="btn btn--tertiary">Ver informe</a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-prev"></div>
    <div class="slider-next"></div>
  </div>
  <div class="text-center">
    <a href="{{ relref . " datos-democracia/siscrimel/conoce-los-informes.md" }}" class="btn btn--primary">Ver más
      informes</a>
  </div>
</section>
{{ end }} {{ define "head" }}
<link rel="stylesheet" href="https://unpkg.com/swiper@6.7.0/swiper-bundle.min.css" />
{{ end }} {{ define "js" }} {{ $home := resources.Get "js/home.js" |
js.Build (dict "minify" true)}}
<script src="{{ $home.Permalink }}"></script>
{{ end }}