{{ define "main" }}
{{ partial "nav-quienes-somos" . }}
<img class="object-cover object-center" src="/images/quienes-somos/banner-quienes-somos-2-lg.png"
    alt="banner quienes somos">
<div class="mx-auto w-10/12 lg:w-10/12 py-8 lg:pt-4 lg:pb-20">
    <h1 class="mb-12 text-center text-primary-color-dark font-black text-4xl lg:text-5xl xl:text-6xl lg:mb-24">
        ¿Quiénes hacemos parte <span class="block">del CEDAE?</span>
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 md:gap-6 lg:gap-16 xl:gap-20">
        <div class="">
            <img src="/images/integrantes/Aura Helena Peñas Felizzola.png" alt="Foto quienes hacen parte del cedae">
            <div class="py-2 lg:py-4">
                <h4 class="italic text-primary-color text-xl lg:text-2xl mb-3 lg:mb-4">Aura Helena Peñas Felizzola</h4>
                <p class="text-sm lg:text-base mb-2 lg:mb-4">
                    Abogada de la Universidad Nacional de Colombia, especializada en Derecho Constitucional e
                    Instituciones Políticas, magister y doctora en Sociología.
                </p>
                <p class="italic">Área: <span class="font-bold">Coordinadora</span></p>
            </div>
        </div>
        <div class="">
            <img src="/images/integrantes/Julián Andrés Guativa Torres.jpg" alt="Foto quienes hacen parte del cedae">
            <div class="py-2 lg:py-4">
                <h4 class="italic text-primary-color text-xl lg:text-2xl mb-3 lg:mb-4">Julián Andrés Guativa Torres</h4>
                <p class="text-sm lg:text-base mb-2 lg:mb-4">
                    Sociólogo de la Pontificia Universidad Javeriana (Colombia), especialista en Evaluación y Desarrollo
                    de Proyectos de la Universidad del Rosario (Colombia).
                </p>
                <p class="italic mb-1">Contácto: <a class="font-bold"
                        href="mailto:jguativat@registraduria.gov.co">jguativat@registraduria.gov.co</a></p>
                <p class="italic">Área: <span class="font-bold">Investigación</span></p>
            </div>
        </div>
        <div class="">
            <img src="/images/integrantes/Oscar Iván Londoño Pardo.jpg" alt="Foto quienes hacen parte del cedae">
            <div class="py-2 lg:py-4">
                <h4 class="italic text-primary-color text-xl lg:text-2xl mb-3 lg:mb-4">Oscar Iván Londoño Pardo</h4>
                <p class="text-sm lg:text-base mb-2 lg:mb-4">
                    Politólogo de la Universidad Nacional de Colombia, Magister en Comunicación Política de la
                    Universidad Externado de Colombia y Estudiante del Doctorado en Comunicación de la Universidad de la
                    Sabana (Colombia).
                </p>
                <p class="italic mb-1">Contácto: <a class="font-bold"
                        href="mailto:ollondonop@registraduria.gov.co">ollondonop@registraduria.gov.co</a></p>
                <p class="italic">Área: <span class="font-bold">Investigación y capacitación</span></p>
            </div>
        </div>
        <div class="">
            <img src="/images/integrantes/Luis Humberto Lagos Romero.jpg" alt="Foto quienes hacen parte del cedae">
            <div class="py-2 lg:py-4">
                <h4 class="italic text-primary-color text-xl lg:text-2xl mb-3 lg:mb-4">Luis Humberto Lagos Romero</h4>
                <p class="text-sm lg:text-base mb-2 lg:mb-4">
                    Licenciado en Psicología y Pedagogía de la Universidad Pedagógica Nacional (Colombia), especialista
                    en Pedagogía y Ciencias de la Educación y Magister en Ciencias de la Educación de la Universidad de
                    San Buenaventura (Colombia).
                </p>
                <p class="italic mb-1">Contácto: <a class="font-bold"
                        href="mailto:lhlagos@registraduria.gov.co">lhlagos@registraduria.gov.co</a></p>
                <p class="italic">Área: <span class="font-bold">Capacitación</span></p>
            </div>
        </div>
        <div class="">
            <img src="/images/integrantes/Maria Alejandra Sanchez Cortes.jpg" alt="Foto quienes hacen parte del cedae">
            <div class="py-2 lg:py-4">
                <h4 class="italic text-primary-color text-xl lg:text-2xl mb-3 lg:mb-4">María Alejandra Sánchez Cortés
                </h4>
                <p class="text-sm lg:text-base mb-2 lg:mb-4">
                    Profesional en Negocios Internacionales de la Pontificia Universidad Javeriana de Cali (Colombia),
                    especialista en gestión de control de Linköpings universitet (Suecia).
                </p>
                <p class="italic mb-1">Contácto: <a class="font-bold"
                        href="mailto:masanchezc@registraduria.gov.co">masanchezc@registraduria.gov.co</a></p>
                <p class="italic">Área: <span class="font-bold">Investigación y capacitación</span></p>
            </div>
        </div>
        <div class="">
            <img src="/images/integrantes/Fabrina Acosta Contreras.jpg" alt="Foto quienes hacen parte del cedae">
            <div class="py-2 lg:py-4">
                <h4 class="italic text-primary-color text-xl lg:text-2xl mb-3 lg:mb-4">
                    Fabrina Acosta Contreras
                </h4>
                <p class="text-sm lg:text-base mb-2 lg:mb-4">
                    Psicóloga de la Universidad de Santander (Colombia), especialista en Alta Gerencia y Magister en
                    Gestión de Organizaciones de la Universidad Militar Nueva Granada (Colombia) y Magister en Estudios
                    de Género de la Universidad del Atlántico (Colombia).
                </p>
                <p class="italic mb-1">Contácto: <a class="font-bold"
                        href="mailto:fmacosta@registraduria.gov.co">fmacosta@registraduria.gov.co</a></p>
                <p class="italic">Área: <span class="font-bold">Investigación y capacitación</span></p>
            </div>
        </div>
        <div class="">
            <img src="/images/integrantes/Paula Andrea Rueda Pineda.jpg" alt="Foto quienes hacen parte del cedae">
            <div class="py-2 lg:py-4">
                <h4 class="italic text-primary-color text-xl lg:text-2xl mb-3 lg:mb-4">
                    Paula Andrea Rueda Pineda
                </h4>
                <p class="text-sm lg:text-base mb-2 lg:mb-4">
                    Administradora de Empresas de la Universidad de Cundinamarca (Colombia), especialista en Finanzas y
                    Administración Pública de la Universidad Militar Nueva Granada (Colombia) y estudiante de la
                    Maestría en Gobierno y tecnología – GovTech de la Universidad Camilo José Cela (España).
                </p>
                <p class="italic mb-1">Contácto: <a class="font-bold"
                        href="mailto:parueda@registraduria.gov.co">parueda@registraduria.gov.co</a></p>
                <p class="italic">Área: <span class="font-bold">Administrativa</span></p>
            </div>
        </div>
        <div class="">
            <img src="/images/integrantes/José Arturo Pedroza Moreno.jpg" alt="Foto quienes hacen parte del cedae">
            <div class="py-2 lg:py-4">
                <h4 class="italic text-primary-color text-xl lg:text-2xl mb-3 lg:mb-4">
                    José Arturo Pedroza Moreno
                </h4>
                <p class="text-sm lg:text-base mb-2 lg:mb-4">
                    Profesional en Publicidad y especialista en Gerencia de Gobierno y Gestión Pública de la Universidad
                    de Bogotá Jorge Tadeo Lozano (Colombia).
                </p>
                <p class="italic mb-1">Contácto: <a class="font-bold"
                        href="mailto:japedroza@registraduria.gov.co">japedroza@registraduria.gov.co</a></p>
                <p class="italic">Área: <span class="font-bold">Administrativa</span></p>
            </div>
        </div>
        <div class="">
            <img src="/images/integrantes/Diana Carolina Bautista Tovar.jpg" alt="Foto quienes hacen parte del cedae">
            <div class="py-2 lg:py-4">
                <h4 class="italic text-primary-color text-xl lg:text-2xl mb-3 lg:mb-4">
                    Diana Carolina Bautista Tovar
                </h4>
                <p class="text-sm lg:text-base mb-2 lg:mb-4">
                    Ingeniera química de la Universidad Nacional de Colombia, Magister en Ciencias Bioquímicas de la
                    UNAN (México).
                </p>
                <p class="italic mb-1">Contácto: <a class="font-bold"
                        href="mailto:dcbautista@registraduria.gov.co">dcbautista@registraduria.gov.co</a></p>
                <p class="italic">Área: <span class="font-bold">Investigación</span></p>
            </div>
        </div>
        <div class="">
            <img src="/images/integrantes/Camila Alejandra Rozo Ladino.jpg" alt="Foto quienes hacen parte del cedae">
            <div class="py-2 lg:py-4">
                <h4 class="italic text-primary-color text-xl lg:text-2xl mb-3 lg:mb-4">
                    Camila Alejandra Rozo Ladino
                </h4>
                <p class="text-sm lg:text-base mb-2 lg:mb-4">
                    Abogada y Magister en Derecho Administrativo de la Universidad Libre (Colombia).
                </p>
                <p class="italic mb-1">Contácto: <a class="font-bold"
                        href="mailto:carozo@registraduria.gov.co">carozo@registraduria.gov.co</a></p>
                <p class="italic">Área: <span class="font-bold">Administrativa</span></p>
            </div>
        </div>
        <div class="">
            <img src="/images/integrantes/María Camila Martínez Guzmán.jpg" alt="Foto quienes hacen parte del cedae">
            <div class="py-2 lg:py-4">
                <h4 class="italic text-primary-color text-xl lg:text-2xl mb-3 lg:mb-4">
                    María Camila Martínez Guzmán
                </h4>
                <p class="text-sm lg:text-base mb-2 lg:mb-4">
                    Diseñadora gráfica de la Universidad Virtual Internacional.
                </p>
                <p class="italic mb-1">Contácto: <a class="font-bold"
                        href="mailto:mcmartinezg@registraduria.gov.co">mcmartinezg@registraduria.gov.co</a></p>
                <p class="italic">Área: <span class="font-bold">Administrativa</span></p>
            </div>
        </div>
        <div class="">
            <img src="/images/integrantes/Andrés Felipe Arias Moreno.jpg" alt="Foto quienes hacen parte del cedae">
            <div class="py-2 lg:py-4">
                <h4 class="italic text-primary-color text-xl lg:text-2xl mb-3 lg:mb-4">
                    Andrés Felipe Arias Moreno
                </h4>
                <p class="text-sm lg:text-base mb-2 lg:mb-4">
                    Politólogo e Internacionalista de la Universidad Militar Nueva Granada (Colombia) y estudiante de la
                    Maestría en Acción Política, Participación Ciudadana y Fortalecimiento Institucional en el Estado
                    Social de Derecho en la Universidad Francisco de Vitoria (España).
                </p>
                <p class="italic mb-1">Contácto: <a class="font-bold"
                        href="mailto:afarias@registraduria.gov.co">afarias@registraduria.gov.co</a></p>
                <p class="italic">Área: <span class="font-bold">Investigación y capacitación</span></p>
            </div>
        </div>
    </div>
</div>

{{ end }}