{{ define "main" }}
{{ partial "nav-quienes-somos" . }}
<img class="object-cover object-center" src="/images/quienes-somos/banner-quienes-somos-2-lg.png"
    alt="banner quienes somos">
<div class="mx-auto lg:w-10/12 lg:pt-4 lg:pb-20">
    <h1 class="mb-12 text-center text-primary-color-dark font-black text-5xl lg:text-6xl lg:mb-24">
        ¿Quiénes hacemos parte <span class="block">del CEDAE?</span>
    </h1>
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 lg:gap-16 xl:gap-20">
        <div class="">
            <img src="/images/quienes-somos/demo-photo.png" alt="Foto quienes hacen parte del cedae">
            <div class="py-2 lg:py-4">
                <h4 class="italic text-primary-color text-xl lg:text-2xl mb-3 lg:mb-4">Aura Helena Peñas Felizzola</h4>
                <p class="text-lg lg:text-xl mb-3 lg:mb-4">
                    Coordinadora Grupo de Trabajo Centro de Estudios en Democracia y Asuntos Electorales – CEDAE
                </p>
                <p class="text-sm lg:text-base">
                    Abogada de la Universidad Nacional de Colombia, especializada en Derecho Constitucional e
                    Instituciones Políticas, magister y doctora en Sociología.
                </p>
            </div>
        </div>
        <div class="">
            <img src="/images/quienes-somos/demo-photo.png" alt="Foto quienes hacen parte del cedae">
            <div class="py-2 lg:py-4">
                <h4 class="italic text-primary-color text-xl lg:text-2xl mb-3 lg:mb-4">Aura Helena Peñas Felizzola</h4>
                <p class="text-lg lg:text-xl mb-3 lg:mb-4">
                    Coordinadora Grupo de Trabajo Centro de Estudios en Democracia y Asuntos Electorales – CEDAE
                </p>
                <p class="text-sm lg:text-base">
                    Abogada de la Universidad Nacional de Colombia, especializada en Derecho Constitucional e
                    Instituciones Políticas, magister y doctora en Sociología.
                </p>
            </div>
        </div>
        <div class="">
            <img src="/images/quienes-somos/demo-photo.png" alt="Foto quienes hacen parte del cedae">
            <div class="py-2 lg:py-4">
                <h4 class="italic text-primary-color text-xl lg:text-2xl mb-3 lg:mb-4">Aura Helena Peñas Felizzola</h4>
                <p class="text-lg lg:text-xl mb-3 lg:mb-4">
                    Coordinadora Grupo de Trabajo Centro de Estudios en Democracia y Asuntos Electorales – CEDAE
                </p>
                <p class="text-sm lg:text-base">
                    Abogada de la Universidad Nacional de Colombia, especializada en Derecho Constitucional e
                    Instituciones Políticas, magister y doctora en Sociología.
                </p>
            </div>
        </div>
        <div class="">
            <img src="/images/quienes-somos/demo-photo.png" alt="Foto quienes hacen parte del cedae">
            <div class="py-2 lg:py-4">
                <h4 class="italic text-primary-color text-xl lg:text-2xl mb-3 lg:mb-4">Aura Helena Peñas Felizzola</h4>
                <p class="text-lg lg:text-xl mb-3 lg:mb-4">
                    Coordinadora Grupo de Trabajo Centro de Estudios en Democracia y Asuntos Electorales – CEDAE
                </p>
                <p class="text-sm lg:text-base">
                    Abogada de la Universidad Nacional de Colombia, especializada en Derecho Constitucional e
                    Instituciones Políticas, magister y doctora en Sociología.
                </p>
            </div>
        </div>
        <div class="">
            <img src="/images/quienes-somos/demo-photo.png" alt="Foto quienes hacen parte del cedae">
            <div class="py-2 lg:py-4">
                <h4 class="italic text-primary-color text-xl lg:text-2xl mb-3 lg:mb-4">Aura Helena Peñas Felizzola</h4>
                <p class="text-lg lg:text-xl mb-3 lg:mb-4">
                    Coordinadora Grupo de Trabajo Centro de Estudios en Democracia y Asuntos Electorales – CEDAE
                </p>
                <p class="text-sm lg:text-base">
                    Abogada de la Universidad Nacional de Colombia, especializada en Derecho Constitucional e
                    Instituciones Políticas, magister y doctora en Sociología.
                </p>
            </div>
        </div>
        <div class="">
            <img src="/images/quienes-somos/demo-photo.png" alt="Foto quienes hacen parte del cedae">
            <div class="py-2 lg:py-4">
                <h4 class="italic text-primary-color text-xl lg:text-2xl mb-3 lg:mb-4">Aura Helena Peñas Felizzola</h4>
                <p class="text-lg lg:text-xl mb-3 lg:mb-4">
                    Coordinadora Grupo de Trabajo Centro de Estudios en Democracia y Asuntos Electorales – CEDAE
                </p>
                <p class="text-sm lg:text-base">
                    Abogada de la Universidad Nacional de Colombia, especializada en Derecho Constitucional e
                    Instituciones Políticas, magister y doctora en Sociología.
                </p>
            </div>
        </div>
    </div>
</div>

{{ end }}