{{ define "main" }} {{ partial "nav-siscrimel" . }}
<div class="banner banner--quienes-somos">
  <div class="container">
    <div class="banner__content">
      <h1 class="heading-primary">
        Siscrimel <span>Sistema de criminalidad electoral</span>
      </h1>
    </div>
    <div class="banner__slogan"></div>
  </div>
</div>
<div
  class="
    banner__extend
    container
    pb-16
    lg:grid lg:grid-cols-2 lg:gap-x-10 lg:pl-8 lg:pt-14 lg:pb-28
    xl:gap-x-20 xl:pl-8 xl:pt-14 xl:pb-28
  "
>
  <h2 class="heading-secondary heading-secondary--blue mb-4 lg:mb-0">
    <span>¿Qué es el</span>Sistema de Criminalidad Electoral?
  </h2>
  <p class="paragraph">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores in
    doloremque aut provident dolor doloribus vero possimus molestias, expedita
    quidem commodi, distinctio laborum dolore reprehenderit totam nihil tenetur
    inventore? Accusantium, temporibus dolor. Molestias nesciunt earum culpa
    cumque quisquam dolor labore soluta ea minus sunt! Assumenda similique sequi
    culpa iure optio?
  </p>
</div>
<section class="section-crimes">
  <div class="container text-center">
    <div class="crimes">
      <div class="crimes__item">
        <h3 class="heading-tertiary heading-tertiary--white">
          Delito Electoral
        </h3>
        <p class="paragraph paragraph--white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
          voluptatem quae ratione veniam saepe quibusdam ex harum alias rerum,
          dolor repellendus repudiandae in optio quas. Vitae quasi quo iure
          libero.
        </p>
        <a href="#" class="btn btn--secondary">Leer más</a>
      </div>
      <div class="crimes__item">
        <h3 class="heading-tertiary heading-tertiary--white">
          Irregularidad electoral
        </h3>
        <p class="paragraph paragraph--white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
          voluptatem quae ratione veniam saepe quibusdam ex harum alias rerum,
          dolor repellendus repudiandae in optio quas. Vitae quasi quo iure
          libero.
        </p>
        <a href="#" class="btn btn--secondary">Leer más</a>
      </div>
    </div>
  </div>
</section>
<section class="section-explore">
  <div class="container">
    <div class="explore">
      <div class="explore__datas">
        <h2
          class="
            heading-secondary
            heading-secondary--blue
            heading-secondary--font-normal
          "
        >
          Explora los datos
        </h2>
        <ul class="explore__list">
          <li class="explore__item">
            Conoce las bases de datos a través de nuestra herramienta de
            visualización
          </li>
          <li class="explore__item">
            Conoce las bases de datos a través de nuestra herramienta de
            visualización
          </li>
          <li class="explore__item">
            Conoce las bases de datos a través de nuestra herramienta de
            visualización
          </li>
        </ul>
        <a href="#" class="btn btn--primary">Visor de datos</a>
        <img
          class="explore__icon"
          src="/images/siscrimel/quienes-somos/icono.svg"
          alt=""
        />
      </div>
      <img
        src="/images/siscrimel/quienes-somos/explore-data-desktop.png"
        alt=""
        class="explore__image"
      />
    </div>
  </div>
</section>
<section class="section-variables">
  <div class="container text-center">
    <h3 class="heading-tertiary heading-tertiary--white">Variables</h3>
    <div class="variables">
      <div class="variables__row">
        <a href="#" class="variables__link">Homicidios</a>
        <a href="#" class="variables__link">Medio ambiente</a>
        <a href="#" class="variables__link">Homicidios</a>
        <a href="#" class="variables__link">Medio ambiente</a>
      </div>
      <div class="variables__row">
        <a href="#" class="variables__link">Medio ambiente</a>
        <a href="#" class="variables__link">Homicidios</a>
        <a href="#" class="variables__link">Medio ambiente</a>
        <a href="#" class="variables__link">Homicidios</a>
        <a href="#" class="variables__link">Medio ambiente</a>
      </div>
      <div class="variables__row">
        <a href="#" class="variables__link">Homicidios</a>
        <a href="#" class="variables__link">Medio ambiente</a>
        <a href="#" class="variables__link">Homicidios</a>
        <a href="#" class="variables__link">Medio ambiente</a>
      </div>
    </div>
  </div>
</section>
<section class="section-reports">
  <div class="container">
    <div class="text-center mb-4 md:mb-6 lg:mb-10 xl:mb-12">
      <h2 class="heading-secondary heading-secondary--blue">
        Conoce los informes
      </h2>
      <p class="paragraph paragraph--blue">Informes más descargados</p>
    </div>
    <div class="reports">
      <div class="reports__item">
        <h4 class="reports__title">Nombre del informe</h4>
        <p class="reports__organizator">Cedae</p>
        <p class="reports__description">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero,
          quidem! Rerum dolorem fugit atque deserunt id temporibus? Maiores amet
          reprehenderit labore exercitationem consequuntur, culpa nihil expedita
          maxime aliquid velit iste.
        </p>
        <p class="reports__date">
          Fecha de publicación: <span>Julio 14 del 2021</span>
        </p>
        <a href="#" class="btn btn--tertiary">Ver informe</a>
      </div>
      <div class="reports__item">
        <h4 class="reports__title">Nombre del informe</h4>
        <p class="reports__organizator">Cedae</p>
        <p class="reports__description">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero,
          quidem! Rerum dolorem fugit atque deserunt id temporibus? Maiores amet
          reprehenderit labore exercitationem consequuntur, culpa nihil expedita
          maxime aliquid velit iste.
        </p>
        <p class="reports__date">
          Fecha de publicación: <span>Julio 14 del 2021</span>
        </p>
        <a href="#" class="btn btn--tertiary">Ver informe</a>
      </div>
      <div class="reports__item">
        <h4 class="reports__title">Nombre del informe</h4>
        <p class="reports__organizator">Cedae</p>
        <p class="reports__description">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero,
          quidem! Rerum dolorem fugit atque deserunt id temporibus? Maiores amet
          reprehenderit labore exercitationem consequuntur, culpa nihil expedita
          maxime aliquid velit iste.
        </p>
        <p class="reports__date">
          Fecha de publicación: <span>Julio 14 del 2021</span>
        </p>
        <a href="#" class="btn btn--tertiary">Ver informe</a>
      </div>
    </div>
    <div class="text-center">
      <a href="#" class="btn btn--primary">Ver más informes</a>
    </div>
  </div>
</section>
{{ end }}
