{{ define "main" }} {{ partial "nav-siscrimel" . }}
<div
  class="
    relative
    bg-cover bg-center
    text-color-white
    h-screen
    bg-quienes-somos-bg
    overflow-hidden
  "
>
  <div class="container">
    <div class="lg:pt-40">
      <h1 class="text-4xl md:text-5xl xl:text-6xl uppercase font-bold">
        Siscrimel
        <span class="block normal-case font-normal text-2xl lg:text-3xl"
          >Sistema de criminalidad electoral</span
        >
      </h1>
    </div>
  </div>
</div>
<div class="lg:pt-16 lg:pb-28">
  <div class="container">
    <div class="grid lg:grid-cols-2 lg:gap-x-28">
      <h2 class="heading-secondary heading-secondary--blue mb-4 lg:mb-0">
        <span>¿Qué es el</span>Sistema de Criminalidad Electoral?
      </h2>
      <p class="paragraph">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
        ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
        molestie consequat, vel illum dolore eu feugiat
      </p>
    </div>
  </div>
</div>
<section class="bg-cover bg-center lg:py-24 bg-delitos-bg">
  <div class="container">
    <div class="grid lg:grid-cols-2 lg:gap-x-32 text-center">
      <div class="">
        <h3 class="lg:text-4xl text-color-white lg:mb-8">Delito Electoral</h3>
        <p class="mb-10 text-color-white">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
          ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
          Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
          molestie consequat, vel illum dolore eu feugiat
        </p>
        <a href="#" class="btn btn--secondary">Leer más</a>
      </div>
      <div class="">
        <h3 class="lg:text-4xl text-color-white lg:mb-8">
          Irregularidad electoral
        </h3>
        <p class="mb-10 text-color-white">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
          ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
          Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
          molestie consequat, vel illum dolore eu feugiat
        </p>
        <a href="#" class="btn btn--secondary">Leer más</a>
      </div>
    </div>
  </div>
</section>
{{ partial "explora-los-datos" . }}
<section
  class="
    lg:pt-14 lg:pb-20
    bg-center bg-cover bg-variables-bg-sm
    lg-bg-variables-bg-lg
  "
>
  <div class="container text-center text-color-white">
    <h3 class="lg:text-4xl lg:mb-8">Variables</h3>
    <div class="variables">
      <div class="mb-4 flex flex-wrap justify-center md:mb-5">
        <a
          href="#"
          class="
            mx-1
            mb-2
            text-color-white
            uppercase
            font-light
            p-1
            md:text-sm md:p-3
            lg:mx-4
            xl:px-6 xl:mx-4
            border border-color-white
          "
          >Homicidios</a
        >
        <a
          href="#"
          class="
            mx-1
            mb-2
            text-color-white
            uppercase
            font-light
            p-1
            md:text-sm md:p-3
            lg:mx-4
            xl:px-6 xl:mx-4
            border border-color-white
          "
          >Medio ambiente</a
        >
        <a
          href="#"
          class="
            mx-1
            mb-2
            text-color-white
            uppercase
            font-light
            p-1
            md:text-sm md:p-3
            lg:mx-4
            xl:px-6 xl:mx-4
            border border-color-white
          "
          >Homicidios</a
        >
        <a
          href="#"
          class="
            mx-1
            mb-2
            text-color-white
            uppercase
            font-light
            p-1
            md:text-sm md:p-3
            lg:mx-4
            xl:px-6 xl:mx-4
            border border-color-white
          "
          >Medio ambiente</a
        >
      </div>
      <div class="mb-4 flex flex-wrap justify-center md:mb-5">
        <a
          href="#"
          class="
            mx-1
            mb-2
            text-color-white
            uppercase
            font-light
            p-1
            md:text-sm md:p-3
            lg:mx-4
            xl:px-6 xl:mx-4
            border border-color-white
          "
          >Medio ambiente</a
        >
        <a
          href="#"
          class="
            mx-1
            mb-2
            text-color-white
            uppercase
            font-light
            p-1
            md:text-sm md:p-3
            lg:mx-4
            xl:px-6 xl:mx-4
            border border-color-white
          "
          >Homicidios</a
        >
        <a
          href="#"
          class="
            mx-1
            mb-2
            text-color-white
            uppercase
            font-light
            p-1
            md:text-sm md:p-3
            lg:mx-4
            xl:px-6 xl:mx-4
            border border-color-white
          "
          >Medio ambiente</a
        >
        <a
          href="#"
          class="
            mx-1
            mb-2
            text-color-white
            uppercase
            font-light
            p-1
            md:text-sm md:p-3
            lg:mx-4
            xl:px-6 xl:mx-4
            border border-color-white
          "
          >Homicidios</a
        >
        <a
          href="#"
          class="
            mx-1
            mb-2
            text-color-white
            uppercase
            font-light
            p-1
            md:text-sm md:p-3
            lg:mx-4
            xl:px-6 xl:mx-4
            border border-color-white
          "
          >Medio ambiente</a
        >
      </div>
      <div class="mb-4 flex flex-wrap justify-center md:mb-5">
        <a
          href="#"
          class="
            mx-1
            mb-2
            text-color-white
            uppercase
            font-light
            p-1
            md:text-sm md:p-3
            lg:mx-4
            xl:px-6 xl:mx-4
            border border-color-white
          "
          >Homicidios</a
        >
        <a
          href="#"
          class="
            mx-1
            mb-2
            text-color-white
            uppercase
            font-light
            p-1
            md:text-sm md:p-3
            lg:mx-4
            xl:px-6 xl:mx-4
            border border-color-white
          "
          >Medio ambiente</a
        >
        <a
          href="#"
          class="
            mx-1
            mb-2
            text-color-white
            uppercase
            font-light
            p-1
            md:text-sm md:p-3
            lg:mx-4
            xl:px-6 xl:mx-4
            border border-color-white
          "
          >Homicidios</a
        >
        <a
          href="#"
          class="
            mx-1
            mb-2
            text-color-white
            uppercase
            font-light
            p-1
            md:text-sm md:p-3
            lg:mx-4
            xl:px-6 xl:mx-4
            border border-color-white
          "
          >Medio ambiente</a
        >
      </div>
    </div>
  </div>
</section>
<section class="lg:pt-20 lg:pb-16">
  <div class="container">
    <div class="text-primary-color-dark text-center lg:mb-10">
      <h2 class="font-bold mb-5 lg:text-5xl">Conoce los informes</h2>
      <p class="text-base md:text-xl lg:text-2xl text-xl">
        Informes más descargados
      </p>
    </div>
    <div class="lg:mb-12">{{ partial "informes-slider" . }}</div>
    <div class="text-center">
      <a href="#" class="btn btn--primary">Ver más informes</a>
    </div>
  </div>
</section>
{{ end }} {{ define "head" }}
<link
  rel="stylesheet"
  href="https://unpkg.com/swiper@6.7.0/swiper-bundle.min.css"
/>
{{ end }} {{ define "js" }} {{ $services := resources.Get "js/about.js" |
js.Build (dict "minify" true)}}
<script src="{{ $services.Permalink }}"></script>
{{ end }}
