{{ define "main" }} {{ partial "nav-siscrimel" . }}
<div class="banner banner--quienes-somos">
  <div class="container">
    <div class="banner__content">
      <h1 class="heading-primary">
        Siscrimel <span>Sistema de criminalidad electoral</span>
      </h1>
    </div>
    <div class="banner__slogan">
      <h2 class="heading-secondary heading-secondary--blue">
        <span>¿Qué es el</span>Sistema de Criminalidad Electoral?
      </h2>
      <p class="paragraph">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae
        quam, beatae nemo assumenda nisi enim corrupti libero nostrum natus,
        repellendus, impedit porro dolore adipisci voluptate culpa! Minus magnam
        eos sint!
      </p>
    </div>
  </div>
</div>
<section class="section-crimes">
  <div class="container text-center">
    <div class="crimes">
      <div class="crimes__item">
        <h3 class="heading-tertiary heading-tertiary--white">
          Delito Electoral
        </h3>
        <p class="paragraph paragraph--white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
          voluptatem quae ratione veniam saepe quibusdam ex harum alias rerum,
          dolor repellendus repudiandae in optio quas. Vitae quasi quo iure
          libero.
        </p>
        <a href="#" class="btn btn--secondary">Leer más</a>
      </div>
      <div class="crimes__item">
        <h3 class="heading-tertiary heading-tertiary--white">
          Irregularidad electoral
        </h3>
        <p class="paragraph paragraph--white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
          voluptatem quae ratione veniam saepe quibusdam ex harum alias rerum,
          dolor repellendus repudiandae in optio quas. Vitae quasi quo iure
          libero.
        </p>
        <a href="#" class="btn btn--secondary">Leer más</a>
      </div>
    </div>
  </div>
</section>
<section class="section-explore">
  <div class="container">
    <div class="explore">
      <div class="explore__datas">
        <h2
          class="
            heading-secondary
            heading-secondary--blue
            heading-secondary--font-normal
          "
        >
          Explora los datos
        </h2>
        <ul class="explore__list">
          <li class="explore__item">
            Conoce las bases de datos a través de nuestra herramienta de
            visualización
          </li>
          <li class="explore__item">
            Conoce las bases de datos a través de nuestra herramienta de
            visualización
          </li>
          <li class="explore__item">
            Conoce las bases de datos a través de nuestra herramienta de
            visualización
          </li>
        </ul>
        <a href="#" class="btn btn--primary">Visor de datos</a>
        <img
          class="explore__icon"
          src="/images/siscrimel/quienes-somos/icono.svg"
          alt=""
        />
      </div>
      <img
        src="/images/siscrimel/quienes-somos/explore-data-desktop.png"
        alt=""
        class="explore__image"
      />
    </div>
  </div>
</section>
<section class="section-variables">
  <div class="container text-center">
    <h3 class="heading-tertiary heading-tertiary--white">Variables</h3>
    <div class="variables">
      <div class="variables__row">
        <a href="#" class="variables__link">Homicidios</a>
        <a href="#" class="variables__link">Medio ambiente</a>
        <a href="#" class="variables__link">Homicidios</a>
        <a href="#" class="variables__link">Medio ambiente</a>
      </div>
      <div class="variables__row">
        <a href="#" class="variables__link">Medio ambiente</a>
        <a href="#" class="variables__link">Homicidios</a>
        <a href="#" class="variables__link">Medio ambiente</a>
        <a href="#" class="variables__link">Homicidios</a>
        <a href="#" class="variables__link">Medio ambiente</a>
      </div>
      <div class="variables__row">
        <a href="#" class="variables__link">Homicidios</a>
        <a href="#" class="variables__link">Medio ambiente</a>
        <a href="#" class="variables__link">Homicidios</a>
        <a href="#" class="variables__link">Medio ambiente</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
