<section class="py-24">
  <div class="container">
    <div class="grid items-center lg:grid-cols-2 lg:gap-x-36">
      <div class="relative text-primary-color-dark">
        <h2 class="text-4xl lg:mb-5 font-black">Explora los datos</h2>
        <p class="lg:mb-6 lg:text-xl">
          Conoce los datos relacionados con la criminalidad electoral en Colombia a través de nuestra herramienta de
          visualización.
        </p>
        <p class="lg:mb-6 lg:text-xl">
          Con esta herramienta podrás observar el comportamiento de los delitos e irregularidades electorales a nivel
          departamental y municipal en Colombia. Al mismo tiempo, podrás visualizar el comportamiento de la criminalidad
          electoral junto a factores contextuales como la violencia social y política, las economías ilegales, la
          pobreza o el uso de los recursos públicos.
        </p>
        <a href="#" class="btn btn--primary">Visor de datos</a>
        <img class="
            hidden
            absolute
            lg:-top-8 lg:-left-2
            xl:-top-8 xl:-left-8
            lg:block
          " src="/images/siscrimel/quienes-somos/icono.svg" alt="" />
      </div>
      <img src="/images/siscrimel/quienes-somos/explore-data-desktop.png" alt="" class="" />
    </div>
  </div>
</section>