<section class="py-24">
  <div class="container">
    <div class="grid items-center lg:grid-cols-2 lg:gap-x-36">
      <div class="relative text-primary-color">
        <h2 class="text-4xl lg:mb-5 font-bold">Explora los datos</h2>
        <p class="lg:mb-6 lg:text-xl">
          Conoce las bases de datos a través de nuestra herramienta de
          visualización
        </p>
        <p class="lg:mb-14 lg:text-xl">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat.
        </p>
        <a href="{{ relref . "siscrimel/explora-los-datos.md" }}" class="btn btn--primary">Visor de datos</a>
        <img
          class="
            hidden
            absolute
            lg:-top-8 lg:-left-2
            xl:-top-8 xl:-left-8
            lg:block
          "
          src="/images/siscrimel/quienes-somos/icono.svg"
          alt=""
        />
      </div>
      <img
        src="/images/siscrimel/quienes-somos/explore-data-desktop.png"
        alt=""
        class=""
      />
    </div>
  </div>
</section>
