<footer class="footer">
  <div class="contenedor">
    <div class="footer__logo">
      <img src="{{ "images/footer-logo.svg" | absURL }}" alt=""
      class="footer__image" />
    </div>
    <div class="footer__slogan">
      <p>
        Cedae
        <span
          >Centro de Estudios en Democracia <br />
          y Asuntos Electorales</span
        >
      </p>
    </div>
    <nav class="footer__nav">
      <ul class="footer__list">
        <li class="footer__item">
          <a href="#" class="footer__link">
            <img src="/images/arrow-footer.svg" alt="#" /> Siscrimel</a
          >
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link"
            ><img src="/images/arrow-footer.svg" alt="#" />Resultados
            Electorales</a
          >
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link"
            ><img src="/images/arrow-footer.svg" alt="#" />Mecanismos de
            participación</a
          >
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link"
            ><img src="/images/arrow-footer.svg" alt="#" />Biblioteca de
            recursos</a
          >
        </li>
      </ul>
    </nav>
    <div class="footer__contact">
      <p>Contáctanos</p>
      <div>
        <a href="#"><img src="/images/icon-twitter.svg" alt="#" /></a>
        <a href="#"><img src="/images/icon-facebook.svg" alt="#" /></a>
        <a href="#"><img src="/images/icon-telegram.svg" alt="#" /></a>
      </div>
    </div>
  </div>
</footer>
<div class="datasketch">
  <img src="/images/logo-datasketch.svg" alt="" class="datasketch__logo" />
</div>
