<footer
  class="
    py-20
    bg-footer-sm
    text-color-white
    font-soberana-sans
    bg-cover bg-center
    lg:bg-footer-lg lg:py-12
  "
>
  <div class="grid grid-cols-1 gap-y-16 lg:gap-y-0 lg:grid-cols-4 items-center">
    <img
      class="m-auto order-3 lg:order-1"
      src="/images/footer-logo.svg"
      alt="logo registraduría"
    />
    <img
      class="w-7/12 m-auto order-4 lg:order-2 lg:w-10/12 lg:mx-0"
      src="/images/logo-CEDAE-blanco.svg"
      alt="logo CEDAE"
    />
    <ul class="uppercase text-sm m-auto order-1 lg:order-3">
      <li class="mb-4 flex">
        <img class="mr-2" src="/images/arrow-footer.svg" alt="footer icon" /><a
          href="{{ relref . "siscrimel/quienes-somos.md" }}"
          >Siscrimel</a
        >
      </li>
      <li class="mb-4 flex">
        <img class="mr-2" src="/images/arrow-footer.svg" alt="footer icon" /><a
          href="{{ relref . "resultados-electorales/descarga-los-datos.md" }}"
          >Resultados electorales</a
        >
      </li>
      <li class="mb-4 flex">
        <img class="mr-2" src="/images/arrow-footer.svg" alt="footer icon" /><a
          href="#"
          >Mecanismos de participación</a
        >
      </li>
      <li class="mb-4 flex">
        <img class="mr-2" src="/images/arrow-footer.svg" alt="footer icon" /><a
          href="{{ relref . "biblioteca-de-recursos.md" }}"
          >Biblioteca de recursos</a
        >
      </li>
    </ul>
    <div class="m-auto order-2 lg:order-4">
      <h5 class="uppercase text-color-white mb-4">Contáctanos</h5>
      <div class="flex justify-between">
        <a href="#"
          ><img src="/images/icon-twitter.svg" alt="twitter social"
        /></a>
        <a href="#"
          ><img src="/images/icon-facebook.svg" alt="facebook social"
        /></a>
        <a href="#"
          ><img src="/images/icon-telegram.svg" alt="telegram social"
        /></a>
      </div>
    </div>
  </div>
</footer>
<div class="flex justify-center py-4 bg-color-datasketch">
  <img src="/images/logo-datasketch.svg" alt="" class="datasketch__logo" />
</div>
