<footer
  class="
    py-20
    bg-footer-sm
    text-color-white
    font-soberana-sans
    bg-cover bg-center
    lg:bg-footer-lg lg:py-12
  "
>
  <div class="grid grid-cols-1 gap-y-16 lg:gap-y-0 lg:grid-cols-4 items-center">
    <img
      class="m-auto order-3 lg:order-1"
      src="/images/footer-logo.svg"
      alt="logo registraduría"
    />
    <img
      class="w-7/12 m-auto order-4 lg:order-2 lg:w-10/12 lg:mx-0"
      src="/images/logo-CEDAE-blanco.svg"
      alt="logo CEDAE"
    />
    <ul class="uppercase text-sm m-auto order-1 lg:order-3">
      <li class="mb-4 flex">
        <img class="mr-2" src="/images/arrow-footer.svg" alt="footer icon" /><a
          href="{{ relref . "quienes-somos/quienes-somos.md" }}"
          >Quienes somos</a
        >
      </li>
      <li class="mb-4 flex">
        <img class="mr-2" src="/images/arrow-footer.svg" alt="footer icon" /><a
          href="{{ relref . "datos-democracia/datos-para-la-democracia.md" }}"
          >Datos para la democracia</a
        >
      </li>
      <li class="mb-4 flex">
        <img class="mr-2" src="/images/arrow-footer.svg" alt="footer icon" /><a
          href="{{ relref . "biblioteca-de-recursos.md"}}"
          >Biblioteca de recursos</a
        >
      </li>
      <li class="mb-4 flex">
        <img class="mr-2" src="/images/arrow-footer.svg" alt="footer icon" /><a
          href="https://escuelavirtual.registraduria.gov.co/" target="_blank"
          >Capacitación virtual</a
        >
      </li>
    </ul>
    <div class="m-auto order-2 lg:order-4">
      <h5 class="uppercase text-color-white mb-4">Contáctanos</h5>
      <div class="flex justify-between items-center">
        <a target="_blank" href="https://twitter.com/Registraduria"
          ><img src="/images/icon-twitter.svg" alt="twitter social"
        /></a>
        <a target="_blank" href="https://www.facebook.com/RegistraduriaNacional/"
          ><img src="/images/icon-facebook.svg" alt="facebook social"
        /></a>
        <a target="_blank" href="https://www.instagram.com/registraduria/"
          ><img src="/images/icono-instagram.svg" alt="instagram social"
        /></a>
      </div>
    </div>
  </div>
</footer>
<div class="flex justify-center py-4 bg-color-datasketch">
  <a href="https://www.datasketch.co/" target="_blank">
    <img src="/images/logo-datasketch.svg" alt="" class="datasketch__logo" />
  </a>
</div>
