<section class="py-8 lg:py-20">
  <div class="container">
    <div class="grid grid-cols-1 gap-y-4 lg:grid-cols-3 lg:gap-x-8">
      <div class="lg:p-8 bg-color-blue-dark">
        <img
          src="/images/siscrimel/criminalidad-electoral/siscrimel-lg.jpg"
          alt=""
        />
        <a
          class="
            block
            text-primary-color
            font-bold
            mt-4
            mb-2
            text-color-primary
            uppercase
            font-bold
            text-xl
          "
          href="{{ relref . "siscrimel/quienes-somos.md" }}"
          >Siscrimel</a
        >
        <p class="paragrah paragraph--blue">¿Qué es SISCRIMEL?</p>
      </div>
      <div class="lg:p-8 bg-color-blue-dark">
        <img
          src="/images/siscrimel/criminalidad-electoral/datas-lg.jpg"
          alt=""
        />
        <a
          class="
            block
            text-primary-color
            font-bold
            mt-4
            mb-2
            text-color-primary
            uppercase
            font-bold
            text-xl
          "
          href="{{ relref . "siscrimel/explora-los-datos.md" }}"
          >Explora los datos</a
        >
        <p class="paragrah paragraph--blue">
          Conoce los datos de criminalidad electoral en Colombia
        </p>
      </div>
      <div class="lg:p-8 bg-color-blue-dark">
        <img
          src="/images/siscrimel/criminalidad-electoral/information-lg.jpg"
          alt=""
        />
        <a
          class="
            block
            text-primary-color
            font-bold
            mt-4
            mb-2
            text-color-primary
            uppercase
            font-bold
            text-xl
          "
          href="#"
          >Conoce los informes</a
        >
        <p class="paragrah paragraph--blue">
          Descarga los informes de SISCRIMEL
        </p>
      </div>
    </div>
  </div>
</section>
