<div class="slider-wrapper">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div
          class="
            grid
            mb-6
            grid-cols-1
            gap-y-8
            md:mb-8
            lg:grid-cols-2 lg:mb-12
            xl:grid-cols-3
            text-primary-color
            lg:gap-x-8
            xl:gap-x-10 xl:mb-20
          "
        >
          <div
            class="
              bg-color-white
              py-10
              pl-12
              pr-8
              shadow-lg shadow-primary
              rounded-xl
            "
          >
            <h4 class="text-xl xl:text-2xl font-bold mb-2">
              Nombre del informe
            </h4>
            <p class="italic mb-2 lg:mb-4 xl:mb-6 italic uppercase">Cedae</p>
            <p class="mb-2 xl:mb-4">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero,
              quidem! Rerum dolorem fugit atque deserunt id temporibus? Maiores
              amet reprehenderit labore exercitationem consequuntur, culpa nihil
              expedita maxime aliquid velit iste.
            </p>
            <p class="italic mb-3 lg:mb-4 xl:mb-6">
              Fecha de publicación:
              <span class="font-bold">Julio 14 del 2021</span>
            </p>
            <a href="#" class="btn btn--tertiary">Ver informe</a>
          </div>
          <div
            class="
              bg-color-white
              py-10
              pl-12
              pr-8
              shadow-lg shadow-primary
              rounded-xl
            "
          >
            <h4 class="text-xl xl:text-2xl font-bold mb-2">
              Nombre del informe
            </h4>
            <p class="italic mb-2 lg:mb-4 xl:mb-6 italic uppercase">Cedae</p>
            <p class="mb-2 xl:mb-4">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero,
              quidem! Rerum dolorem fugit atque deserunt id temporibus? Maiores
              amet reprehenderit labore exercitationem consequuntur, culpa nihil
              expedita maxime aliquid velit iste.
            </p>
            <p class="italic mb-3 lg:mb-4 xl:mb-6">
              Fecha de publicación:
              <span class="font-bold">Julio 14 del 2021</span>
            </p>
            <a href="#" class="btn btn--tertiary">Ver informe</a>
          </div>
          <div
            class="
              bg-color-white
              py-10
              pl-12
              pr-8
              shadow-lg shadow-primary
              rounded-xl
            "
          >
            <h4 class="text-xl xl:text-2xl font-bold mb-2">
              Nombre del informe
            </h4>
            <p class="italic mb-2 lg:mb-4 xl:mb-6 italic uppercase">Cedae</p>
            <p class="mb-2 xl:mb-4">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero,
              quidem! Rerum dolorem fugit atque deserunt id temporibus? Maiores
              amet reprehenderit labore exercitationem consequuntur, culpa nihil
              expedita maxime aliquid velit iste.
            </p>
            <p class="italic mb-3 lg:mb-4 xl:mb-6">
              Fecha de publicación:
              <span class="font-bold">Julio 14 del 2021</span>
            </p>
            <a href="#" class="btn btn--tertiary">Ver informe</a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-prev"></div>
    <div class="slider-next"></div>
  </div>
</div>
