<nav class="hidden bg-primary-color-dark text-center text-color-white uppercase font-light xl:block">
  <ul class="grid grid-cols-5 items-center">
    <li>
      <a href="{{ relref . "siscrimel/quienes-somos.md" }}" class="block py-4 text-sm hover:bg-primary-color">¿Quienes somos?</a>
    </li>
    <li>
      <a href="{{ relref . "siscrimel/criminalidad-electoral.md" }}" class="block py-4 text-sm hover:bg-primary-color"
        >Sobre la <span class="font-bold">Criminalidad electoral</span></a
      >
    </li>
    <li>
      <a href="{{ relref . "siscrimel/explora-los-datos.md" }}" class="block py-4 text-sm hover:bg-primary-color">Explora los datos</a>
    </li>
    <li>
      <a href="#" class="block py-4 text-sm hover:bg-primary-color">Conoce los informes</a>
    </li>
    <li>
      <a href="{{ relref . "siscrimel/preguntas-frecuentes.md" }}" class="block py-4 text-sm hover:bg-primary-color">Preguntas frecuentes</a>
    </li>
  </ul>
</nav>
