<nav
  class="
    hidden
    bg-primary-color-dark
    text-center text-color-white
    uppercase
    font-light
    xl:block
  "
>
  <ul class="grid grid-cols-2">
    <li>
      <a href="{{ relref . "quienes-somos/quienes-somos.md" }}" class="block py-4 text-sm hover:bg-primary-color"
        >¿QUIÉNES SOMOS?</a
      >
    </li>
    <li>
      <a href="{{ relref . "quienes-somos/quienes-hacemos-parte-del-cedae.md" }}" class="block py-4 text-sm hover:bg-primary-color"
        >¿QUIÉNES HACEMOS PARTE DEL CEDAE?</a
      >
    </li>
  </ul>
</nav>