<nav class="nav-siscrimel">
  <ul class="nav-siscrimel__list">
    <li class="nav-siscrimel__item">
      <a href="{{ relref . "siscrimel/quienes-somos.md" }}" class="nav-siscrimel__link">¿Quienes somos?</a>
    </li>
    <li class="nav-siscrimel__item">
      <a href="{{ relref . "siscrimel/criminalidad-electoral.md" }}" class="nav-siscrimel__link"
        >Sobre la <span>Criminalidad electoral</span></a
      >
    </li>
    <li class="nav-siscrimel__item">
      <a href="{{ relref . "siscrimel/explora-los-datos.md" }}" class="nav-siscrimel__link">Explora los datos</a>
    </li>
    <li class="nav-siscrimel__item">
      <a href="#" class="nav-siscrimel__link">Conoce los informes</a>
    </li>
    <li class="nav-siscrimel__item">
      <a href="#" class="nav-siscrimel__link">Preguntas frecuentes</a>
    </li>
  </ul>
</nav>
