<nav class="hidden text-center text-color-white uppercase font-light xl:block" style="background-color: #002441;">
  <ul class="grid grid-cols-5 items-center">
    <li>
      <a href="{{ relref . " datos-democracia/siscrimel/que-es-siscrimel.md" }}"
        class="block py-4 text-sm hover:bg-primary-color">¿QUÉ ES SISCRIMEL?</a>
    </li>
    <li>
      <a href="{{ relref . " datos-democracia/siscrimel/sobre-la-criminalidad-electoral.md" }}"
        class="block py-4 text-sm hover:bg-primary-color">SOBRE LA CRIMINALIDAD ELECTORAL</span></a>
    </li>
    <li>
      <a href="{{ relref . " datos-democracia/siscrimel/explora-los-datos.md" }}"
        class="block py-4 text-sm hover:bg-primary-color">EXPLORA LOS DATOS</a>
    </li>
    <li>
      <a href="{{ relref . " datos-democracia/siscrimel/conoce-los-informes.md" }}" class="block py-4 text-sm hover:bg-primary-color">CONOCE LOS INFORMES</a>
    </li>
    <li>
      <a href="{{ relref . " datos-democracia/siscrimel/preguntas-frecuentes.md" }}"
        class="block py-4 text-sm hover:bg-primary-color">PREGUNTAS FRECUENTES</a>
    </li>
  </ul>
</nav>