<nav class="
    hidden
    bg-primary-color-dark
    text-center text-color-white
    uppercase
    font-light
    lg:block
  ">
    <ul class="grid grid-cols-3">
        <li>
            <a href="{{ relref . "datos-democracia/siscrimel/que-es-siscrimel.md" }}" class="block py-4 text-sm hover:bg-primary-color">SISCRIMEL</a>
        </li>
        <li>
            <a href="{{ relref . "datos-democracia/resultados-electorales/explora-los-datos.md" }}" class="block py-4 text-sm hover:bg-primary-color">RESULTADOS ELECTORALES</a>
        </li>
        <li>
            <a href="{{ relref . "datos-democracia/mecanismos-de-participacion/explora-los-datos.md" }}" class="block py-4 text-sm hover:bg-primary-color">MECANISMOS DE PARTICIPACIÓN</a>
        </li>
    </ul>
</nav>