<header class="
    relative
    flex
    justify-between
    p-4
    items-center
    lg:py-8 lg:px-8
    xl:px-12
  ">
  <img src="{{ "images/logo-barra-navegacion.png" | absURL }}" alt="" class="h-16" />
  <nav class="
      nav
    " id="nav">
    <ul class="pt-16 pl-16 lg:py-0 lg:px-0 lg:grid lg:grid-cols-7 lg:items-center">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      {{ $menu_item_url := .URL | relLangURL }}
      {{ $page_url:= $currentPage.RelPermalink | relLangURL }}
      {{ if eq $menu_item_url $page_url }}
      <li class="mb-8 lg:text-left lg:mb-0 lg:mx-3 xl:mx-4 lg:pt-2" style="border-bottom: 2px solid #04f6e8;">
        <a class="nav__link block text-primary-color uppercase text-xs lg:text-center xl:text-sm lg:pb-2"
          href="{{ .URL }}">{{ .Title }}</a>
      </li>
      {{ else }}
      <li class="mb-8 lg:text-left lg:mb-0 lg:mx-3 xl:mx-4 lg:pt-2">
        <a class="nav__link block text-primary-color uppercase text-xs lg:text-center xl:text-sm lg:pb-2"
          href="{{ .URL }}">{{ .Title }}</a>
      </li>
      {{ end }}
      {{ end }}
    </ul>
  </nav>
  <button class="menu-button">
    <span class="menu-icon" id="menu-icon"></span>
  </button>
</header>