<header class="relative
flex
justify-between
p-4
items-center
lg:py-8 lg:px-8
xl:px-20">
  <img src="{{ "images/logo.svg" | absURL }}" alt="" class="header__logo" />
  <button id="menu-toggle" class="h-10 lg:hidden block cursor-pointer">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-full stroke-current icon icon-tabler icon-tabler-menu-2"
      viewBox="0 0 24 24"
      stroke-width="1.5"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <line x1="4" y1="6" x2="20" y2="6" />
      <line x1="4" y1="12" x2="20" y2="12" />
      <line x1="4" y1="18" x2="20" y2="18" />
    </svg>
  </button>
  <nav class="nav hidden absolute
      top-24
      left-0
      px-4
      py-4
      bg-white
      w-full
      lg:relative lg:top-0 lg:left-0 lg:px-0 lg:py-0 z-10 lg:block" id="menu">
    <ul class="lg:grid lg:grid-cols-6 lg:items-center">
      <li class="mb-4 lg:mb-0 lg:mx-3 xl:mx-6">
        <a class="nav__link block text-primary-color uppercase text-xs font-medium lg:ml-8 lg:text-center lg:pb-1 lg:text-xs xl:text-base" href="{{ .Site.BaseURL }}">Inicio</a>
      </li>
      <li class="hidden mb-4 lg:mb-0 lg:mx-3 lg:block xl:mx-6">
        <a class="nav__link block text-primary-color uppercase text-xs font-medium lg:text-center lg:pb-1 lg:text-xs xl:text-base" href="{{ relref . "siscrimel/quienes-somos.md" }}">Siscrimel</a>
      </li>
      <li class="block mb-4 lg:mb-0 lg:mx-3 lg:hidden xl:mx-6">
        <a class="nav__link block text-primary-color uppercase text-xs font-medium lg:text-center lg:pb-1 lg:text-xs xl:text-base" href="{{ relref . "siscrimel/quienes-somos.md" }}">Quienes somos</a>
      </li>
      <li class="block mb-4 lg:mb-0 lg:mx-3 lg:hidden xl:mx-6">
        <a class="nav__link block text-primary-color uppercase text-xs font-medium lg:text-center lg:pb-1 lg:text-xs xl:text-base" href="{{ relref . "siscrimel/criminalidad-electoral.md" }}">Sobre la criminalidad electoral</a>
      </li>
      <li class="block mb-4 lg:mb-0 lg:mx-3 lg:hidden xl:mx-6">
        <a class="nav__link block text-primary-color uppercase text-xs font-medium lg:text-center lg:pb-1 lg:text-xs xl:text-base" href="{{ relref . "siscrimel/explora-los-datos.md" }}">Explora los datos</a>
      </li>
      <li class="block mb-4 lg:mb-0 lg:mx-3 lg:hidden xl:mx-6">
        <a class="nav__link block text-primary-color uppercase text-xs font-medium lg:text-center lg:pb-1 lg:text-xs xl:text-base" href="#">Conoce los informes</a>
      </li>
      <li class="block mb-4 lg:mb-0 lg:mx-3 lg:hidden xl:mx-6">
        <a class="nav__link block text-primary-color uppercase text-xs font-medium lg:text-center lg:pb-1 lg:text-xs xl:text-base" href="{{ relref . "siscrimel/preguntas-frecuentes.md" }}">Preguntas frecuentes</a>
      </li>
      <li class="mb-4 lg:mb-0 lg:mx-3 xl:mx-6">
        <a class="nav__link block text-primary-color uppercase text-xs font-medium lg:text-center lg:pb-1 lg:text-xs xl:text-base" href="#">Resultados electorales</a>
      </li>
      <li class="mb-4 lg:mb-0 lg:mx-3 xl:mx-6">
        <a class="nav__link block text-primary-color uppercase text-xs font-medium lg:text-center lg:pb-1 lg:text-xs xl:text-base" href="#">Mecanismos de participación</a>
      </li>
      <li class="mb-4 lg:mb-0 lg:mx-3 xl:mx-6">
        <a class="nav__link block text-primary-color uppercase text-xs font-medium lg:text-center lg:pb-1 lg:text-xs xl:text-base" href="{{ relref . "biblioteca-de-recursos.md" }}">Biblioteca de recursos</a>
      </li>
      <li class="mb-4 lg:mb-0 lg:mx-3 xl:mx-6">
        <a class="nav__link block text-primary-color uppercase text-xs font-medium lg:text-center lg:pb-1 lg:text-xs xl:text-base" href="#">Contáctanos</a>
      </li>
    </ul>
  </nav>
</header>
