<div class="slider-wrapper">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="md:grid grid-cols-2 lg:grid-cols-1">
          <img src="/images/siscrimel/criminalidad-electoral/siscrimel-lg.jpg" alt="" class="w-full" />
          <div class="px-4 xl:p-0">
            <a href="{{ relref . " datos-democracia/siscrimel/que-es-siscrimel.md" }}"
              class="block text-xl md:text-2xl font-bold mt-4 mb-4 text-primary-color-dark">
              Siscrimel
            </a>
            <p class="paragraph">
              Conoce más sobre la metodología para la visualización y la comparación de los datos relacionados con la
              criminalidad electoral.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="md:grid grid-cols-2 lg:grid-cols-1">
          <img src="/images/siscrimel/criminalidad-electoral/corruption.jpg" alt="" class="w-full" />
          <div class="px-4 xl:p-0">
            <a href="{{ relref . " datos-democracia/siscrimel/sobre-la-criminalidad-electoral.md" }}"
              class="block text-xl md:text-2xl font-bold mt-4 mb-4 text-primary-color-dark">
              Criminalidad electoral
            </a>
            <p class="paragraph">
              ¿Quieres saber cómo definimos la criminalidad electoral? Haz clic aquí.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="md:grid grid-cols-2 lg:grid-cols-1">
          <img src="/images/home/explora-los-datos.jpg" alt="" class="w-full" />
          <div class="px-4 xl:p-0">
            <a href="{{ relref . " datos-democracia/siscrimel/explora-los-datos.md" }}"
              class="block text-xl md:text-2xl font-bold mt-4 mb-4 text-primary-color-dark">
              Explora los Datos
            </a>
            <p class="paragraph">
              Observa el comportamiento de las denuncias sobre delitos e irregularidades electorales junto a otras
              variables económicas, políticas y sociales.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="md:grid grid-cols-2 lg:grid-cols-1">
          <img src="/images/siscrimel/criminalidad-electoral/information-lg.jpg" alt="" class="w-full" />
          <div class="px-4 xl:p-0">
            <a href="{{ relref . " datos-democracia/siscrimel/conoce-los-informes.md" }}"
              class="block text-xl md:text-2xl font-bold mt-4 mb-4 text-primary-color-dark">
              Conoce los informes
            </a>
            <p class="paragraph">
              Descarga los informes anuales sobre criminalidad electoral.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-prev"></div>
  <div class="slider-next"></div>
</div>