<div class="slider-wrapper">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="md:grid grid-cols-2 xl:grid-cols-1">
            <img src="/images/siscrimel/criminalidad-electoral/siscrimel-lg.jpg" alt="" class="w-full" />
            <div class="px-4 xl:p-0">
              <a
                href="#" class="block text-xl md:text-2xl font-bold mt-4 mb-4 text-primary-color"
              >
              Siscrimel
              </a>
              <p  class="paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
                qui magnam iusto nemo similique a dolor libero aliquam. Corrupti
                ipsam rem tenetur, quas amet hic. Sunt quisquam expedita facere
                odio.
              </p>
            </div>
          </div>
      </div>
      <div class="swiper-slide">
        <div class="md:grid grid-cols-2 xl:grid-cols-1">
            <img src="/images/siscrimel/criminalidad-electoral/corruption.jpg" alt="" class="w-full" />
            <div class="px-4 xl:p-0">
              <a
                href="#" class="block text-xl md:text-2xl font-bold mt-4 mb-4 text-primary-color"
              >
              Criminalidad electoral
              </a>
              <p  class="paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
                qui magnam iusto nemo similique a dolor libero aliquam. Corrupti
                ipsam rem tenetur, quas amet hic. Sunt quisquam expedita facere
                odio.
              </p>
            </div>
          </div>
      </div>
      <div class="swiper-slide">
        <div class="md:grid grid-cols-2 xl:grid-cols-1">
            <img src="/images/home/explora-los-datos.jpg" alt="" class="w-full" />
            <div class="px-4 xl:p-0">
              <a
                href="#" class="block text-xl md:text-2xl font-bold mt-4 mb-4 text-primary-color"
              >
                Explora los Datos
              </a>
              <p  class="paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
                qui magnam iusto nemo similique a dolor libero aliquam. Corrupti
                ipsam rem tenetur, quas amet hic. Sunt quisquam expedita facere
                odio.
              </p>
            </div>
          </div>
      </div>
      <div class="swiper-slide">
        <div class="md:grid grid-cols-2 xl:grid-cols-1">
            <img src="/images/siscrimel/criminalidad-electoral/information-lg.jpg" alt="" class="w-full" />
            <div class="px-4 xl:p-0">
              <a
                href="#" class="block text-xl md:text-2xl font-bold mt-4 mb-4 text-primary-color"
              >
              Conoce los informes
              </a>
              <p  class="paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
                qui magnam iusto nemo similique a dolor libero aliquam. Corrupti
                ipsam rem tenetur, quas amet hic. Sunt quisquam expedita facere
                odio.
              </p>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="slider-prev"></div>
  <div class="slider-next"></div>
</div>
