{{ define "main" }}
<div
  class="
    relative
    overflow-hidden
    bg-cover bg-center
    text-color-white
    bg-banner-home-sm
    lg:bg-banner-home-lg
    banner--home
  "
>
  <div class="container">
    <div class="text-center lg:text-left lg:w-6/12 pt-56 lg:pt-48">
      <h1
        class="uppercase mb-4 text-4xl font-bold lg:mb-3 lg:text-6xl lg:w-10/12"
      >
        Datos para la democracia
      </h1>
      <p class="px-8 lg:px-0 lg:w-10/12">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore.
      </p>
      <p
        class="
          absolute
          bottom-24
          text-center
          px-12
          lg:px-0 lg:bottom-36 lg:w-6/12 lg:text-xl lg:right-1/4
        "
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eaque
        similique quibusdam, eos aperiam, officiis dolor saepe maiores ducimus
        nam et deserunt dolorem? Magnam soluta perferendis tempora tenetur
        ducimus nobis.
      </p>
    </div>
  </div>
</div>
<section class="py-16 lg:pt-20 lg:pb-24">
  <div class="grid grid-cols-1 gap-y-20 lg:grid-cols-2 items-center">
    <div
      class="
        text-center
        bg-siscrimel-bg bg-cover bg-center
        lg:text-left lg:pl-32
      "
    >
      <h2 class="text-4xl text-primary-color uppercase font-bold text-5xl">
        Siscrimel
        <span class="lowercase block text-4xl"
          >Sistema de Criminalidad Electoral</span
        >
      </h2>
      <p
        class="
          my-10
          px-10
          paragraph paragraph--black
          lg:px-0 lg:my-7 lg:w-10/12
        "
      >
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint cum
        facilis repellat praesentium minus sapiente. Asperiores vero sint
        sapiente delectus, quae sed totam mollitia tempora, praesentium
        accusamus cumque porro eius.
      </p>
      <a
        href="#"
        class="
          bg-primary-color-dark
          text-color-white
          py-2
          px-6
          uppercase
          font-bold
        "
        >Leer más</a
      >
    </div>
    <div class="px-10 text-center lg:text-left lg:px-44">
      {{ partial "siscrimel-slider" . }}
    </div>
  </div>
</section>
<section class="py-16 bg-primary-color lg:pt-28 lg:pb-36">
  <div class="container text-center">
    <h2
      class="
        text-4xl
        mb-8
        font-bold
        text-color-white
        uppercase
        lg:text-5xl lg:mb-12
      "
    >
      Resultados Electorales
    </h2>
    <div class="text-center">
      <p class="mb-8 text-white m-auto w-10/12 lg:w-5/12 lg:mb-16">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea enim saepe
        autem porro odit corporis necessitatibus a vel. Maxime dolorum vitae
        aspernatur assumenda obcaecati debitis. Hic delectus beatae veritatis
        quos?
      </p>
      <div
        class="
          grid grid-cols-2
          gap-8
          m-auto
          mb-12
          w-10/12
          lg:grid-cols-4
          m-auto
          lg:gap-x-24 lg:w-9/12 lg:mb-16
        "
      >
        <a
          href="#"
          class="
            text-3xl text-white
            px-4
            py-3
            lg:text-4xl
            border-2 border-primary-color-light
          "
          >2010</a
        >
        <a
          href="#"
          class="
            text-3xl text-white
            px-4
            py-3
            lg:text-4xl
            border-2 border-primary-color-light
          "
          >2011</a
        >
        <a
          href="#"
          class="
            text-3xl text-white
            px-4
            py-3
            lg:text-4xl
            border-2 border-primary-color-light
          "
          >2014</a
        >
        <a
          href="#"
          class="
            text-3xl text-white
            px-4
            py-3
            lg:text-4xl
            border-2 border-primary-color-light
          "
          >2018</a
        >
      </div>
      <a
        href="#"
        class="bg-color-white uppercase font-bold text-primary-color py-3 px-4"
        >Conoce los datos</a
      >
    </div>
  </div>
</section>
<section class="">
  <div class="grid lg:items-center lg:grid-cols-12">
    <ul
      class="
        py-16
        text-center
        bg-primary-color-dark
        text-color-white
        order-2
        lg:order-1 lg:col-start-1 lg:col-end-6 lg:py-28
      "
    >
      <li class="mb-8">
        <span class="mr-6">1.</span> Mecanismo de participación electoral
      </li>
      <li class="mb-8">
        <span class="mr-6">1.</span> Mecanismo de participación electoral
      </li>
      <li class="mb-8">
        <span class="mr-6">1.</span> Mecanismo de participación electoral
      </li>
      <li class="mb-8">
        <span class="mr-6">1.</span> Mecanismo de participación electoral
      </li>
      <li class="mb-8">
        <span class="mr-6">1.</span> Mecanismo de participación electoral
      </li>
      <li class="mb-8">
        <span class="mr-6">1.</span> Mecanismo de participación electoral
      </li>
      <li class="mb-0">
        <span class="mr-6">1.</span> Mecanismo de participación electoral
      </li>
    </ul>
    <div
      class="
        order-1
        bg-cover bg-center
        py-12
        lg:py-0 lg:order-2 lg:px-24 lg:col-start-6 lg:col-end-13
        bg-mechanism-bg
        text-primary-color-dark
      "
    >
      <h2
        class="
          text-center text-4xl
          uppercase
          font-bold
          lg:text-5xl lg:text-left
        "
      >
        <span class="block text-3xl font-normal normal-case lg:text-3xl"
          >Mecanismos de</span
        >participación electoral
      </h2>
      <p class="my-10 m-auto w-10/12 text-center lg:text-left lg:mx-0 lg:my-8">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, velit,
        dicta, quo cupiditate tempore maxime earum aliquid sit esse sunt nulla!
        Neque officiis adipisci nemo accusamus, temporibus maiores explicabo ut.
      </p>
      <div class="text-center lg:text-left">
        <a
          href="#"
          class="
            bg-primary-color-dark
            text-color-white
            py-2
            px-6
            uppercase
            font-bold
          "
          >Leer más</a
        >
      </div>
    </div>
  </div>
</section>
<section class="pt-14 py-20 lg:pt-24 lg:pb-32">
  <div class="container">
    <div class="text-center text-primary-color-dark lg:mb-14">
      <h2
        class="
          m-auto
          w-9/12
          mb-8
          text-4xl
          uppercase
          font-bold
          lg:w-full lg:mx-0 lg:mb-8 lg:text-5xl
        "
      >
        Biblioteca Virtual
      </h2>
      <p class="m-auto mb-10 w-10/12 lg:w-7/12">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
        incidunt cumque commodi saepe sapiente adipisci tenetur maxime aut. Odio
        ducimus hic accusamus est aspernatur laudantium autem ab, voluptatum
        illum iste!
      </p>
    </div>
    <div
      class="
        m-auto
        w-10/12
        grid
        gap-y-12
        grid-cols-1
        lg:mx-0 lg:w-full lg:gap-x-12 lg:grid-cols-3 lg:items-center
      "
    >
      <div
        class="
          relative
          flex flex-col
          justify-center
          items-center
          text-center
          self-stretch
          p-10
          border-primary-color-light border-solid border-2
        "
      >
        <h3 class="text-2xl font-bold">
          Publicaciones <br />
          e Investigaciones
        </h3>
        <a
          href="#"
          class="
            absolute
            -bottom-5
            bg-primary-color-dark
            text-color-white
            py-2
            px-6
            uppercase
            font-bold
          "
          >Leer más</a
        >
      </div>
      <div
        class="
          relative
          flex flex-col
          justify-center
          items-center
          text-center
          self-stretch
          p-10
          border-primary-color-light border-solid border-2
        "
      >
        <h3 class="text-2xl font-bold">
          Escuela de Nuevos Liderazgos en Cultura Democrática
        </h3>
        <a
          href="#"
          class="
            absolute
            -bottom-5
            bg-primary-color-dark
            text-color-white
            py-2
            px-6
            uppercase
            font-bold
          "
          >Leer más</a
        >
      </div>
      <div
        class="
          relative
          flex flex-col
          justify-center
          items-center
          text-center
          self-stretch
          p-10
          border-primary-color-light border-solid border-2
        "
      >
        <h3 class="text-2xl font-bold">
          Escuela de Nuevos Liderazgos de Mujeres
        </h3>
        <a
          href="#"
          class="
            absolute
            -bottom-5
            bg-primary-color-dark
            text-color-white
            py-2
            px-6
            uppercase
            font-bold
          "
          >Leer más</a
        >
      </div>
    </div>
  </div>
</section>
{{ end }} {{ define "head" }}
<link
  rel="stylesheet"
  href="https://unpkg.com/swiper@6.7.0/swiper-bundle.min.css"
/>
{{ end }} {{ define "js" }} {{ $services := resources.Get "js/home.js" |
js.Build (dict "minify" true)}}
<script src="{{ $services.Permalink }}"></script>
{{ end }}
