{{ define "main" }}
<div class="banner banner--home">
  <div class="container">
    <div class="banner__content">
      <h1 class="banner__title">Datos para la democracia</h1>
      <p class="banner__paragraph">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti,
        eveniet! Blanditiis, mollitia praesentium deserunt maiores assumenda
        officia eligendi! Corrupti enim quae iure nisi itaque provident neque
        magni facilis suscipit necessitatibus!
      </p>
    </div>
    <p class="banner__slogan">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eaque
      similique quibusdam, eos aperiam, officiis dolor saepe maiores ducimus nam
      et deserunt dolorem? Magnam soluta perferendis tempora tenetur ducimus
      nobis.
    </p>
  </div>
</div>
<section class="section-siscrimel">
  <div class="siscrimel">
    <div class="siscrimel__description">
      <h2 class="heading-secondary heading-secondary--blue">
        Siscrimel <span>Sistema de Criminalidad Electoral</span>
      </h2>
      <p class="paragraph paragraph--black">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint cum
        facilis repellat praesentium minus sapiente. Asperiores vero sint
        sapiente delectus, quae sed totam mollitia tempora, praesentium
        accusamus cumque porro eius.
      </p>
      <a href="#" class="btn btn--primary">Leer más</a>
    </div>
    <div class="siscrimel__explore-data">
      <div class="siscrimel__data">
        <img
          src="/images/home/explora-los-datos.jpg"
          alt=""
          class="siscrimel__data-image"
        />
        <div class="siscrimel__information">
          <h3 class="heading-tertiary">Explora los Datos</h3>
          <p class="paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
            qui magnam iusto nemo similique a dolor libero aliquam. Corrupti
            ipsam rem tenetur, quas amet hic. Sunt quisquam expedita facere
            odio.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-results">
  <div class="container text-center">
    <h2 class="heading-secondary heading-secondary--white">
      Resultados Electorales
    </h2>
    <div class="results">
      <p class="paragraph paragraph--white">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea enim saepe
        autem porro odit corporis necessitatibus a vel. Maxime dolorum vitae
        aspernatur assumenda obcaecati debitis. Hic delectus beatae veritatis
        quos?
      </p>
      <a href="#" class="btn btn--secondary">Leer Más</a>
    </div>
  </div>
</section>
<section class="section-mechanism">
  <div class="mechanism">
    <ul class="mechanism__list">
      <li class="mechanism__item">
        <span>1.</span> Mecanismo de participación electoral
      </li>
      <li class="mechanism__item">
        <span>1.</span> Mecanismo de participación electoral
      </li>
      <li class="mechanism__item">
        <span>1.</span> Mecanismo de participación electoral
      </li>
      <li class="mechanism__item">
        <span>1.</span> Mecanismo de participación electoral
      </li>
      <li class="mechanism__item">
        <span>1.</span> Mecanismo de participación electoral
      </li>
      <li class="mechanism__item">
        <span>1.</span> Mecanismo de participación electoral
      </li>
      <li class="mechanism__item">
        <span>1.</span> Mecanismo de participación electoral
      </li>
    </ul>
    <div class="mechanism__content">
      <h2 class="heading-secondary heading-secondary--blue">
        <span>Mecanisco de</span>participación electoral
      </h2>
      <p class="paragraph paragraph--blue">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, velit,
        dicta, quo cupiditate tempore maxime earum aliquid sit esse sunt nulla!
        Neque officiis adipisci nemo accusamus, temporibus maiores explicabo ut.
      </p>
      <a href="#" class="btn btn--primary">Leer más</a>
    </div>
  </div>
</section>
{{ end }}
