{{ define "main" }}
<div class="banner banner--home">
  <div class="contenedor">
    <div class="banner__content">
      <h1 class="banner__title">Datos para la democracia</h1>
      <p class="banner__paragraph">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti,
        eveniet! Blanditiis, mollitia praesentium deserunt maiores assumenda
        officia eligendi! Corrupti enim quae iure nisi itaque provident neque
        magni facilis suscipit necessitatibus!
      </p>
    </div>
    <p class="banner__slogan">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eaque
      similique quibusdam, eos aperiam, officiis dolor saepe maiores ducimus nam
      et deserunt dolorem? Magnam soluta perferendis tempora tenetur ducimus
      nobis.
    </p>
  </div>
</div>
{{ end }}
